@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.home {
	background-image: url(../img/group-35.png);
	background-size: cover;
	color: #ffffff;
}
.header-nav {
	text-decoration: none;
	color: white;
	font-size: 17px;
	padding: 7px 20px;
	margin: 0px 5px;
}
.header-nav:hover {
	border-radius: 20px;
	border: 1px solid white;
	color: white;
	padding: 7px 20px;
}
.heading-txt {
	font-size: 50px;
}
.logo-nav {
	width: 175px;
}
.sp-btn {
	border-radius: 20px;
	width: 97px;
	height: 40px;
	text-decoration: none;
	border: 1px solid white;
	color: white;
	font-size: 17px;
	padding: 7px 20px;
	margin: 0px 5px;
	background: transparent;
}
.sp-btn:hover {
	color: #ffffff;
}
.heading {
	margin-top: 15rem;
	margin-left: 2rem;
}
.book-btn {
	border: 1px solid #ffffff;
	border-radius: 27px;
	height: 54px;
	width: 225px;
	opacity: 1;
}
.btn-book a {
	text-decoration: none;
	font-size: 18px;
	padding: 15px 25px;
	color: white;
	background-color: #006072;
	opacity: 0.5;
}
.section-title h2 {
	font-size: 40px;
	font-weight: bold;
	color: #4f4f4f;
}
.grp-text p {
	font-size: 17px;
	color: #565656;
}
.title {
	height: 73px;
}
.title h2 {
	color: #565656;
	font-size: 30px;
	font-weight: bold;
}
.blog {
	background-image: url(../img/blog-left-bg.png), url(/img/blog-right-bg.png);
	background-position: left, right;
	background-repeat: no-repeat, no-repeat;
}
.blog-first h2 {
	color: #4f4f4f;
	font-size: 30px;
	font-weight: bold;
	width: 378px;
	height: 72px;
}
.blog-card {
	width: 357px;
	height: 366px;
}

.blog-first p {
	color: #4f4f4f;
	font-size: 18px;
}
.blog-title {
	font-size: 20px;
	font-weight: bold;
	color: #3d4046;
}
.blog-dt {
	font-size: 13px;
	color: #a3a3a3;
}
.blog-txt {
	font-size: 16px;
	color: #565656;
	width: 289px;
}
.prof-name {
	font-size: 20px;
	color: #4f4f4f;
	font-weight: bold;
	margin: 0px 5px;
}
.prof-city {
	font-size: 14px;
	color: #8e8e8e;
	margin: 0px 5px;
}
.prof-details {
	text-align: left;
	padding: 10px;
}
.prof-card {
	width: 357px;
	height: 370px;
	margin: auto;
	border-left: 4px solid #1d7a8c;
	border-radius: 1px;
}
.prof-txt {
	width: 288px;
	margin: 15px 25px;
	font-size: 16px;
	text-align: left;
	color: #565656;
}
.read-post {
	font-size: 18px;
	color: #4f4f4f;
}
.read-more {
	font-size: 18px;
	color: #565656;
	margin: 5px 30px;
}
.read-arrow {
	margin: 0px 10px;
}
.testimonial {
	background-color: #f4f5f8;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.newsletter h2 {
	font-size: 18px;
	color: #353548;
	font-weight: bold;
}
.home-btn {
	position: fixed;
	bottom: 20px;
	left: 20px;
}
.up-arrow {
	width: 48px;
	height: 48px;
	background-color: #525252;
	border-radius: 50%;
	position: relative;
	float: left;
	margin: 0px 0px;
}
.up-pos {
	position: absolute;
	top: 37%;
	left: 28%;
}

.footer-navbar a {
	text-decoration: none;
	color: white;
	padding: 0px 10px;
	font-size: 14px;
	letter-spacing: 0px;
}

.footer {
	background-color: #111111;
}
.privacy {
	background-color: #292929;
	height: 64px;
}
.privacy p {
	font-size: 14px;
	color: #f1f1f1;
	margin: 0px;
}
.policy-txt {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-end {
	text-decoration: none;
	color: #4f4f4f;
	background-color: #eed507;
	border-radius: 20px;
	border: 0px solid transparent;
	padding: 6px 20px;
	height: 40px;
	width: 100px;
}
.btn-end a {
	text-decoration: none;
	color: #4f4f4f;
	font-size: 16px;
}
.policy {
	text-decoration: none;
	color: #6eabef;
}
.form-email {
	background: #f4f5f8 0% 0% no-repeat padding-box;
	border: 1px solid #565656;
	border-radius: 20px;
	width: 233px;
	height: 40px;
	padding: 11px 21px;
	margin-top: 16px;
}
.btn-submit {
	background: #ff7b6d 0% 0% no-repeat padding-box;
	border-radius: 20px;
	color: white;
	border: 0px solid transparent;
	height: 40px;
	width: 88px;
}
.layer-btn {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@media screen and (max-width: 768px) {
	div.arrow {
		display: none;
	}
}
