<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon_img.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/adminPanel.css">

    <title>Service Request</title>
</head>

<body>
    <!-- Admin Panel Navabar Start -->
    <header class="um-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <div class="um-logo-txt">
                    <span>helperland</span>
                </div>
                <div class="um-top-menu">
                    <span class="userIcon"><i class="fal fa-user-circle fa-2x"></i></span>
                    <span class="userName">@ViewBag.Uname</span>
                    <span class="logoutBtn"><a asp-controller="Login" asp-action="Logout"><i class="far fa-power-off fa-2x"></i></a></span>
                </div>
            </div>
        </nav>
    </header>
    <!-- Admin Panel Navabar End -->

    <!-- Loader  -->
    <div class="loading-div d-none">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <!-- Loader  -->

    <!-- Admin Panel Start -->
    <section class="admin-panel">
        <div class="um-admin">
            <div class="admin-leftMenu">
                <div class="nav flex-column text-start um-left-menu">
                    <a class="nav-link active">Service Requests</a>
                    <a class="nav-link" asp-controller="Admin" asp-action="Usermanagement">User Management</a>
                </div>
            </div>
            <div class="admin-mainContent">
                <div class="srContentHeader">
                    <span class="sectionName">Service Requests</span>
                </div>

                <div class="searchingTab">
                    <div class="ServiceIDSearch">
                        <input type="number" placeholder="Service ID" id="searchServiceId" class="form-control" />
                    </div>
                    <div class="PostalCodeSearch">
                        <input type="number" placeholder="Postal Code" id="searchPinCode" class="form-control" />
                    </div>
                    <div class="EmailSearch">
                        <input type="email" placeholder="Email" id="searchEmail" class="form-control" />
                    </div>
                    <div class="customerSelect">
                        <select class="form-select" id="customerSelect" data-live-search="true">
                            <option value="" hidden selected>Customer</option>
                        </select>
                    </div>
                    <div class="spSelect">
                        <select class="form-select" id="spSelect">
                            <option value="" hidden selected>Service Provider</option>
                        </select>
                    </div>
                    <div class="statusSelect">
                        <select class="form-select" id="reqStatusSelect">
                            <option value="" hidden selected>Status</option>
                            <option value="New">New</option>
                            <option value="Pending">Pending</option>
                            <option value="Completed">Completed</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div class="fromDTSearch">
                        <input type="text" class="form-control" id="searchFromDate" placeholder="From Date" readonly/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                            <path fill-rule="evenodd" fill="#1FB6FF" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                        </svg>
                    </div>
                    <div class="toDTSearch">
                        <input type="text" class="form-control" id="searchToDate" placeholder="To Date" readonly/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                            <path fill-rule="evenodd" fill="#1FB6FF" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                        </svg>
                    </div>
                    <div class="searchBtn">
                        <button class="btn" id="searchBtn">Search</button>
                        <button class="btn" id="clearBtn">Clear</button>
                    </div>
                </div>

                <div class="umTable">
                    <table id="servReqTB" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Service ID</th>
                                <th>Service Date</th>
                                <th>Customer Details</th>
                                <th>Service Provider</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th class="d-none">Email</th>
                                <th class="d-none">Pin</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>10</td>
                                <td>
                                    <div class="spRateSerDateTimeDiv">
                                        <span class="spanSPNewReqDT"><img src="/img/calendar2.png" class="me-2" />01/01/2011</span>
                                        <span class="spanSPNewReqDT"><img src="/img/layer-14.png" class="me-2" />08:00-11:00</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="CustomerDataSH">
                                        <div><img  class="CustomerDataIcon" src="/img/layer-15.png" /></div>
                                        <div class="CustomerDataAdd">
                                            <span class="custNameSH">Smit Dabhi</span>
                                            <span class="custAdd1SH">Last Street, 45</span>
                                            <span class="custAdd2SH">364001 Bhavnagar</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="SPData">
                                        <div><img src="/img/avatar-car.png" alt=""></div>
                                        <div class="SPNameRate">
                                            <span class="spName">Ravi Patel</span>
                                            <div class="Stars" style="--rating: 4.3;"><span class="rateNumber">4.3</span></div>
                                        </div>
                                    </div>
                                </td>
                                <td>133 &euro;</td>
                                <td><span class="newStausSR">New</span></td>
                                <td>1</td>
                            </tr>*@
                        </tbody>
                    </table>     
                </div>
                <div class="content-footer">
                    <span>©2018 Helperland. All rights reserved.</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Admin Panel End -->

    <!--Details Modal-->
    <div class="modal fade" id="reqDetailsModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Service Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="serReqDetailsSH">
                        <div class="row">
                            <span class="reqDataDate"></span>
                            <span class="reqDataDuration"></span>
                        </div>
                        <div class="row">
                            <span class="reqDataId"></span>
                            <span class="reqDataExtraTitle"><strong>Extras</strong> : <span class="reqDataExtra"></span></span>
                            <span class="reqDataNetAmount"><strong>Net Amount</strong> :</span>
                            <span class="reqDataPayment"></span>
                        </div>
                        <div class="row">
                            <span class="reqDataAddress"></span>
                            <span class="reqDataPhone"></span>
                            <span class="reqDataEmail"></span>
                        </div>
                        <div class="row">
                            <span class="reqDataComments"><strong>Comments</strong> : </span>
                            <span class="reqCommentText"></span>
                            <span class="reqDataHasPetTrue d-none"><i class="fa fa-check" aria-hidden="true"></i>I have pets at Home</span>
                            <span class="reqDataHasPetFalse"><i class="fa fa-times" aria-hidden="true"></i>I don't have pets at Home</span>
                        </div>
                    </div>
                    <div id="serReqSpDataSH" class="d-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Details Modal-->

    <!--Success Modal-->
    <div class="modal fade" id="adminUMSuccessModal" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="newReqImg">
                        <i class="fas fa-check-circle fa-5x"></i>
                    </span>
                    <span class="successTxt"></span>
                    <span class="successBtn">
                        <button class="btn">Ok</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Success Modal-->
 
    <!--Edit and Reschedule Modal-->
    <div class="modal fade" id="editAndRescheduleModal" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Edit & Reschedule</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="serviceID" />
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputDate" class="form-label">Date</label>
                                <input type="text" class="form-control" id="inputDate" readonly/>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                    <path fill-rule="evenodd" fill="#1FB6FF" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                                </svg>
                            </div>
                            <div class="col-md-6">
                                <label for="selectBookTime" class="form-label">Time</label>
                                <select class="form-select selectBookTime" id="selectBookTime" aria-label="Default select example">
                                    <option value="08:00">08:00 AM</option>
                                    <option value="08:30">08:30 AM</option>
                                    <option value="09:00">09:00 AM</option>
                                    <option value="09:30">09:30 AM</option>
                                    <option value="10:00">10:00 AM</option>
                                    <option value="10:30">10:30 AM</option>
                                    <option value="11:00">11:00 AM</option>
                                    <option value="11:30">11:30 AM</option>
                                    <option value="12:00">12:00 PM</option>
                                    <option value="12:30">12:30 PM</option>
                                    <option value="13:00">01:00 PM</option>
                                    <option value="13:30">01:30 PM</option>
                                    <option value="14:00">02:00 PM</option>
                                    <option value="14:30">02:30 PM</option>
                                    <option value="15:00">03:00 PM</option>
                                    <option value="15:30">03:30 PM</option>
                                    <option value="16:00">04:00 PM</option>
                                    <option value="16:30">04:30 PM</option>
                                    <option value="17:00">05:00 PM</option>
                                    <option value="17:30">05:30 PM</option>
                                    <option value="18:00">06:00 PM</option>
                                </select>
                            </div>
                            <div class="col-md-12"><span>Service Address</span></div>
                            <div class="col-md-6">
                                <label for="inputStreetName" class="form-label">Street Name</label>
                                <input type="text" class="form-control" id="inputStreetName" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputHouseNo" class="form-label">House Number</label>
                                <input type="text" class="form-control" id="inputHouseNo" />
                            </div>
                            <div class="col-md-6">
                                <label for="inputZipCode" class="form-label">Postal Code</label>
                                <input type="number" class="form-control" id="inputZipCode" autocomplete="off" />
                                <span class="text-danger fw-bold d-none" id="pinError"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="inputCity" disabled/>
                            </div>
                            <div class="col-md-12">
                                <label for="textComment" class="form-label"><span>Why do you want to reschedule service request?</span></label>
                                <textarea class="form-control" placeholder="Why do you want to reschedule service request?" id="textComment" rows="3"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn" id="updateBtn">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Edit and Reschedule Modal-->

    <!--Refund Modal-->
    <div class="modal fade" id="refundModal" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Refund Amount</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="amountDetail">
                        <div class="paidAmountDiv">
                            <span>Paid Amount</span>
                            <span id="paidAmount"></span>
                        </div>
                        <div class="refundAmountDiv">
                            <span>Refunded Amount</span>
                            <span id="refundAmount"></span>
                        </div>
                        <div class="balanceAmountDiv">
                            <span>In Balance Amount</span>
                            <span id="balanceAmount"></span>
                        </div>
                    </div>
                    <form>
                        <input type="hidden" id="refundReqId" />
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputAmount">Amount</label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" aria-describedby="percentageTxt" id="inputAmount">
                                    <span class="input-group-text" id="percentageTxt">Percentage</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="calcShow">Calculate</label>
                                <div class="input-group mb-3">
                                    <button class="btn" type="button" id="calcBtn">Calculate</button>
                                    <input type="text" id="calcShow" class="form-control" placeholder="" aria-describedby="calcBtn" disabled>
                                </div>
                                <span id="refundErr" class="text-danger fw-bold d-none">Can not refund more than paid amount!</span>
                            </div>
                            <div class="col-md-12">
                                <label for="textComment" class="form-label"><span>Why you want to refund amount?</span></label>
                                <textarea class="form-control" placeholder="Why you want to refund amount?" id="textRefund" rows="3"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="button" class="btn" id="refundBtn">Refund</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Refund Modal-->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/adminSR.js"></script>
</body>

</html>