<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon_img.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/adminPanel.css">

    <title>User Management</title>
</head>

<body>
    <!-- Admin Panel Navabar Start -->
    <header class="um-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container-fluid">
                <div class="um-logo-txt">
                    <span>helperland</span>
                </div>
                <div class="um-top-menu">
                    <span class="userIcon"><i class="fal fa-user-circle fa-2x"></i></span>
                    <span class="userName">@ViewBag.Uname</span>
                    <span class="logoutBtn"><a asp-controller="Login" asp-action="Logout"><i class="far fa-power-off fa-2x"></i></a></span>
                </div>
            </div>
        </nav>
    </header>
    <!-- Admin Panel Navabar End -->

    <!-- Loader  -->
    <div class="loading-div d-none">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <!-- Loader  -->

    <!-- Admin Panel Start -->
    <section class="admin-panel">
        <div class="um-admin">
            <div class="admin-leftMenu">
                <div class="nav flex-column text-start um-left-menu">
                    <a class="nav-link" asp-controller="Admin" asp-action="Servicerequest">Service Requests</a>
                    <a class="nav-link active">User Management</a>
                </div>
            </div>
            <div class="admin-mainContent">
                <div class="srContentHeader">
                    <span class="sectionName">User Management</span>
                </div>

                <div class="searchingTab">
                    <div class="userSelect">
                        <select class="form-select" id="userSelect">
                            <option value="" hidden selected>User Name</option>
                        </select>
                    </div>
                    <div class="userTypeSelect">
                        <select class="form-select" id="userTypeSelect">
                            <option value="" hidden selected>User Type</option>
                            <option value="Admin">Admin</option>
                            <option value="Customer">Customer</option>
                            <option value="Service Provider">Service Provider</option>
                        </select>
                    </div>
                    <div class="PhoneNumberSearch">
                        <div class="input-group">
                          <span class="input-group-text" id="basic-addon1">+91</span>
                          <input type="number" class="form-control" id="searchPhone" placeholder="Phone Number" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="PostalCodeSearch">
                        <input type="number" placeholder="Postal Code" id="searchPinCode" class="form-control" />
                    </div>
                    <div class="EmailSearch">
                        <input type="email" placeholder="Email" id="searchEmail" class="form-control" />
                    </div>
                    <div class="fromDTSearch">
                        <input type="text" class="form-control" id="searchFromDate" placeholder="From Date" readonly/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                            <path fill-rule="evenodd" fill="#1FB6FF" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                        </svg>
                    </div>
                    <div class="toDTSearch">
                        <input type="text" class="form-control" id="searchToDate" placeholder="To Date" readonly/>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                            <path fill-rule="evenodd" fill="#1FB6FF" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                        </svg>
                    </div>
                    <div class="searchBtn">
                        <button class="btn" id="searchBtn">Search</button>
                        <button class="btn" id="clearBtn">Clear</button>
                    </div>
                </div>

                <div class="umTable">
                    <div class="exportBtnDiv">
                        <button class="btn exportBtn">Export</button>
                    </div>   
                    <div class="alert alert-success d-none" role="alert" id="actionMsg">
                    </div>
                    <table id="userManageTB" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Role</th>
                                <th>Date of Registration</th>
                                <th>User Type</th>
                                <th>Phone</th>
                                <th>Postal code</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>
                                    <div class="dropdown">
                                      <a id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="far fa-ellipsis-v fa-lg"></i>
                                      </a>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>*@
                        </tbody>
                    </table> 
                </div>
                <div class="content-footer">
                    <span>©2018 Helperland. All rights reserved.</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Admin Panel End -->

    <!--Success Modal-->
    <div class="modal fade" id="adminUMSuccessModal" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="newReqImg">
                        <i class="fas fa-check-circle fa-5x"></i>
                    </span>
                    <span class="successTxt"></span>
                    <span class="successBtn">
                        <button class="btn">Ok</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Success Modal-->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/js/adminUM.js"></script>
</body>

</html>