
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- Loader  -->
<div class="loading-div d-none">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<!-- Loader  -->

<!-- Cust Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link active">Dashboard</a>
                <a class="nav-link" asp-action="Servicerequest" asp-controller="Customer">Service History</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link" asp-action="FavouritePro" asp-controller="Customer">Favourite Pros</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <div class="content-header mb-2">
                        <div class="headAndSortDiv">
                            <h3 class="my-auto">Current Service Requests</h3>
                            <div class="dropdown smSortingBtn">
                              <a class="dropdown" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sort-amount-down fa-lg"></i></a>

                              <ul class="dropdown-menu" id="radioSelectUl" aria-labelledby="dropdownMenuLink">
                                <li><input type="radio" name="sortOption" id="ServiceIDOldest" value="SID:Asc"><label for="ServiceIDOldest">Service Id : Ascending </label></li>
                                <li><input type="radio" name="sortOption" id="ServiceIDLatest" value="SID:Desc"><label for="ServiceIDLatest">Service Id : Descending </label></li>
                                <li><input type="radio" name="sortOption" id="ServiceProviderAtoZ" value="SP:AtoZ"><label for="ServiceProviderAtoZ">Service Provider : A to Z</label></li>
                                <li><input type="radio" name="sortOption" id="ServiceProviderZtoA" value="SP:ZtoA"><label for="ServiceProviderZtoA">Service Provider : Z to A</label></li>
                                <li><input type="radio" name="sortOption" id="PaymentLowtoHigh" value="Pay:L2H"><label for="PaymentLowtoHigh">Payment : Low to High</label></li>
                                <li><input type="radio" name="sortOption" id="PaymentHightoLow" value="Pay:H2L"><label for="PaymentHightoLow">Payment : High to Low</label></li>
                              </ul>
                            </div>
                        </div>
                        <a asp-action="Bookservice" asp-controller="Customer" id="srBookReq"><span>Add New Service Request</span></a>
                    </div>
                    <div class="customer-table">
                        <table id="serReqTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Service Id</th>
                                    <th>Service Date</th>
                                    <th>Service Provider</th>
                                    <th class="text-center">Payment</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cust Dashboard End -->




<!--Details Modal-->
<div class="modal fade" id="reqDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="serReqDetailsSH">
                    <div class="row">
                        <span class="reqDataDate"></span>
                        <span class="reqDataDuration"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataId"></span>
                        <span class="reqDataExtraTitle"><strong>Extras</strong> : <span class="reqDataExtra"></span></span>
                        <span class="reqDataNetAmount"><strong>Net Amount</strong> :</span>
                        <span class="reqDataPayment"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataAddress"></span>
                        <span class="reqDataPhone"></span>
                        <span class="reqDataEmail"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataComments"><strong>Comments</strong> : </span>
                        <span class="reqCommentText"></span>
                        <span class="reqDataHasPetTrue d-none"><i class="fa fa-check" aria-hidden="true"></i>I have pets at Home</span>
                        <span class="reqDataHasPetFalse"><i class="fa fa-times" aria-hidden="true"></i>I don't have pets at Home</span>
                    </div>
                </div>
                <div id="serReqSpDataSH" class="d-none"></div>
            </div>
            <div class="modal-footer">
                <button class="btn srReschedule"><i class="fas fa-history"></i> Reschedule</button>
                <button class="btn srCancel"><i class="fas fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>
<!--Details Modal-->


<!--Reschedule Modal-->
<div class="modal fade" id="rescheduleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Reschedule Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="getReqIdReschedule" />
                    <span class="reScheReqTitle">Select New Date & Time</span>
                    <div class="col-6">
                        <div class="fromDt">
                            <div class="ui calendar" id="bookDate">
                                <div class="ui input left icon fDT"><div class="ui popup calendar bottom left transition hidden" style="inset: 46px auto auto 0px;"><table class="ui celled center aligned unstackable table seven column day"><thead><tr><th colspan="7"><span class="link">February 2022</span><span class="prev link"><i class="chevron left icon"></i></span><span class="next link"><i class="chevron right icon"></i></span></th></tr><tr><th>S</th><th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th></tr></thead><tbody><tr><td class="link disabled">30</td><td class="link disabled">31</td><td class="link">1</td><td class="link">2</td><td class="link">3</td><td class="link">4</td><td class="link">5</td></tr><tr><td class="link">6</td><td class="link">7</td><td class="link">8</td><td class="link">9</td><td class="link today focus">10</td><td class="link">11</td><td class="link">12</td></tr><tr><td class="link">13</td><td class="link">14</td><td class="link">15</td><td class="link">16</td><td class="link">17</td><td class="link">18</td><td class="link">19</td></tr><tr><td class="link">20</td><td class="link">21</td><td class="link">22</td><td class="link">23</td><td class="link">24</td><td class="link">25</td><td class="link">26</td></tr><tr><td class="link">27</td><td class="link">28</td><td class="link disabled">1</td><td class="link disabled">2</td><td class="link disabled">3</td><td class="link disabled">4</td><td class="link disabled">5</td></tr><tr><td class="link disabled">6</td><td class="link disabled">7</td><td class="link disabled">8</td><td class="link disabled">9</td><td class="link disabled">10</td><td class="link disabled">11</td><td class="link disabled">12</td></tr></tbody></table></div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                                        <path fill-rule="evenodd" fill="#1D7A8C" d="M.457 20.1V2.143H4.15V.12h1.848v2.023H9.76V.12h1.163v2.023H14.1V.12h1.748v2.023h3.694V20.1H.457zM17.695 6.456H2.304v11.706h15.391V6.456zM7.229 11.385H5.382V9.536h1.847v1.849zm0 4.425H5.382v-2.577h1.847v2.577zm3.694-4.425H9.76V9.536h1.163v1.849zm0 4.425H9.76v-2.577h1.163v2.577zm3.694-4.425H12.77V9.536h1.847v1.849zm0 4.425H12.77v-2.577h1.847v2.577z"/>
                                    </svg>
                                    <input type="text" placeholder="Service Date" id="bookDt" class="bookServiceDate">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <select class="form-select selectBookTime" id="selectBookTime" aria-label="Default select example">
                            <option value="08:00">08:00 AM</option>
                            <option value="08:30">08:30 AM</option>
                            <option value="09:00">09:00 AM</option>
                            <option value="09:30">09:30 AM</option>
                            <option value="10:00">10:00 AM</option>
                            <option value="10:30">10:30 AM</option>
                            <option value="11:00">11:00 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="12:00">12:00 PM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="13:00">01:00 PM</option>
                            <option value="13:30">01:30 PM</option>
                            <option value="14:00">02:00 PM</option>
                            <option value="14:30">02:30 PM</option>
                            <option value="15:00">03:00 PM</option>
                            <option value="15:30">03:30 PM</option>
                            <option value="16:00">04:00 PM</option>
                            <option value="16:30">04:30 PM</option>
                            <option value="17:00">05:00 PM</option>
                            <option value="17:30">05:30 PM</option>
                            <option value="18:00">06:00 PM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModalUpdateDT">Update</button>
            </div>
        </div>
    </div>
</div>
<!--Reschedule Modal-->

<!--Cancel Modal-->
<div class="modal fade" id="cancelReqModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Cancel Service Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" id="getReqId" />
                    <span class="reScheReqTitle">Why do you want to cancel the service request?</span>
                    <div class="col-12">
                        <textarea class="form-control" id="cancelComment" rows="3"></textarea>
                    </div>
                </div>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnModalCancelReq">Cancel Now</button>
            </div>
        </div>
    </div>
</div>
<!--Cancel Modal-->

<!--Reschedule/Cancel Modal-->
<div class="modal fade" id="reScheCancelSuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <a class="btn-close"></a>
            </div>
            <div class="modal-body">
                <span class="reCancelSuccessImg">
                    <i class="fas fa-check-circle fa-5x"></i>
                </span>
                <span class="reCancelSuccessTxt"></span>
                <span class="reCancelSuccessSmTxt"></span>
                <span class="reCancelSuccessModalBtn">
                    <a>Ok</a>
                </span>
            </div>
        </div>
    </div>
</div>
<!--Reschedule/Cancel Modal-->

@section css{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
    <link href="/css/customerDash.css" rel="stylesheet" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css"
        rel="stylesheet" type="text/css" />
}

@section script{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <script src="/js/customerDash.js"></script>
}