
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- Cust Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link" asp-action="Dashboard" asp-controller="Customer">Dashboard</a>
                <a class="nav-link" asp-action="Servicerequest" asp-controller="Customer">Service History</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link">Favourite Pros</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <nav class="accNav">
                        <div class="nav" id="nav-tab" role="tablist">
                        <button class="nav-link flex-fill active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">My Details</button>
                        <button class="nav-link flex-fill" id="nav-address-tab" data-bs-toggle="tab" data-bs-target="#nav-address" type="button" role="tab" aria-controls="nav-address" aria-selected="false">My Address</button>
                        <button class="nav-link flex-fill" id="nav-pass-tab" data-bs-toggle="tab" data-bs-target="#nav-pass" type="button" role="tab" aria-controls="nav-pass" aria-selected="false">Change Password</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabAccount">
                        <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                            <form id="getDetailsForm">
                                <div id="errorDataPage"></div>
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="inputFname" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="inputFname">   
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputLname" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="inputLname">   
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputEmail" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="inputEmail" disabled>   
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputPhoneNumber" class="form-label">Mobile number</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                            <input class="form-control"  data-val-length-max="10" data-val-length-min="10" data-val-regex-pattern="^([0-9]{10})$"  id="inputPhoneNumber" maxlength="10">
                                        </div>
                                        <span class="text-danger d-none" id="errorMobileData">Please Enter Valid Mobile Number!</span>
                                    </div>
                                    <div class="col-md-4 mb-3 dobSelect">
                                        <label for="inputDOB" class="form-label">Date of Birth</label>
                                        <input class="form-control" type="hidden" id="inputDOB" />
                                    </div>
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btnChangeSave btn" id="btnDataChangeSave">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                            <div id="successMsgAddForm" class="d-none">
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                  <strong></strong>
                                </div>
                            </div>
                            
                            <table id="accAddressTab" class="table">
                                <thead>
                                    <tr>
                                        <th>Addresses</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <div class="addNewAddressBtn">
                                <button type="button" class="btnChangeSave btn" id="addNewAddress">Add New Address</button>
                                <div class="loadMoreSection">
                                    <span id="rowNumbers"><span id="shownRow"></span> of <span id="totalRow"></span></span> 
                                    <button type="button" class="btn" id="loadMoreDataBtn">Show More</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-pass" role="tabpanel" aria-labelledby="nav-pass-tab">
                            <form id="passChange">
                            <div class="" id="errorPassChange"></div>
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label for="inputOldPass" class="form-label">Old Password</label>
                                    <input type="password" class="form-control" id="inputOldPass" placeholder="Current Password">   
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="inputNewPass" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="inputNewPass" placeholder="Password">   
                                </div>
                                <div class="col-12 mb-3">
                                    <label for="inputCPass" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputCPass" placeholder="Confirm Password">   
                                </div>
                                <div class="col-12">
                                    <button type="button" class="btnChangeSave btn" id="btnPassChangeSave">Save</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cust Dashboard End -->







<!--Address Modal-->
<div class="modal fade" id="addNewAddressModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="editAddressForm" />
                    <input type="hidden" id="editAddressState" />
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputStreet" class="form-label">Street</label>
                            <input type="text" class="form-control" id="inputStreet" placeholder="Street">
                        </div>
                        <div class="col-md-6">
                            <label for="inputHouseNo" class="form-label">House Number</label>
                            <input type="text" class="form-control" id="inputHouseNo" placeholder="House Number">
                        </div>
                        <div class="col-md-6">
                            <label for="inputPostCode" class="form-label">Postal Code</label>
                            <input type="number" class="form-control" pattern="[0-9]*" maxlength="6" id="inputPostCode" autocomplete="new-password" placeholder="Postal Code">
                            <span id="errAddAddressPin" class="text-danger d-none"></span>
                        </div>
                        <div class="col-md-6">
                            <label for="inputLocation" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputLocation" placeholder="City" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPhone" class="form-label">Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">+91</span>
                                <input class="form-control form-txt" pattern="[0-9]*" maxlength="10" id="inputPhone" autocomplete="new-password" placeholder="Phone number" type="number">
                            </div>
                            <span id="errAddAddressPhone" class="text-danger d-none"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>
<!--Address Modal-->

<!--Delete Address Modal-->
<div class="modal fade" id="deleteAddressModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Delete address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delAddressId" />
                <h4>Are you sure you want to delete this address?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteAddBtn">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--Delete Address Modal-->


@section css{    
    <link href="/css/customerDash.css" rel="stylesheet" />
}

@section script{    
    <script src="/js/CustomDate.min.js"></script>
    <script src="/js/myaccount.js"></script>
}
