
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- Cust Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link" asp-action="Dashboard" asp-controller="Customer">Dashboard</a>
                <a class="nav-link active" >Service History</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link">Favourite Pros</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <div class="content-header mb-2">
                        <h3 class="my-auto">Service History</h3>
                        <button>Export</button>
                    </div>
                    <div class="customer-table">
                        <table id="shTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Service Id</th>
                                    <th>Service Date</th>
                                    <th>Service Provider </th>
                                    <th class="text-center">Payment </th>
                                    <th class="text-center">Status </th>
                                    <th class="text-center">Rate SP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>
                                    <td class="sh-tb-details">
                                        <span><img src="/img/calendar.png" class="me-2" alt="">31/08/2018</span><br>
                                        <span class="sh-tb-timing">12:00 - 18:00</span>
                                    </td>
                                    <td class="sh-tb-provider">
                                        <span><img src="/img/cap.png" alt=""></span>
                                        <span class="sp-details">
                                            <span class="sp-tb-name">Lyum Watson</span>
                                            <span class="sp-tb-ratings">
                                                <div class="starRating">
                                                    <img src="/img/star1.png" alt="">
                                                    <img src="/img/star1.png" alt="">
                                                    <img src="/img/star1.png" alt="">
                                                    <img src="/img/star1.png" alt="">
                                                    <img src="/img/star2.png" alt="">
                                                    <span>4</span>
                                                </div>
                                            </span>
                                        </span>
                                    </td>
                                    <td class="sh-tb-payment">
                                        <span>&euro;</span>
                                        <span>63</span>
                                    </td>
                                    <td class="sh-tb-status-completed">
                                        <span>Completed</span>
                                    </td>
                                    <td class="sh-tb-rate text-center">
                                        <button>Rate SP</button>
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Cust Dashboard End -->


@section css{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/css/customerDash.css">
}
@section script{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="/js/serviceHistory.js"></script>
}