@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.um-logo-txt {
    font-size: 30px;
    color: white;
}

.um-navbar nav {
    background-color: #1FB6FF;
    padding: 0;
}

.um-navbar .container-fluid {
    padding: 12px 15px 12.6px 15px;
}

.um-top-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.um-top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 5px;
}

span.userName {
    font-size: 16px;
    color: white;
    margin: 0 17.35px 0 7px;
}

.logoutBtn a{
    text-decoration:none;
    color:white
}

.admin-panel {
    margin-top: 55px;
    height: 100%;
}

.um-admin {
    display: flex;
    height:100%
}

.admin-leftMenu {
    position: sticky;
    top: 55px;
    height: calc(100vh - 55px);
    width: 20vw;
}

.um-left-menu a {
    color: #646464;
    border-bottom: 1px solid#E5E5E5;
    padding: 15px 14px 16px 14px;
    border-top: none;
    font-size:16px;
}

.um-left-menu a.active {
    color: #1FB6FF;
}

.um-left-menu a:hover {
    color: #3ebbfa;
    cursor: pointer;
}

.admin-mainContent {
    width: 80vw;
    background-color: #eeeeef;
    padding-left: 20px;
}

.sectionName {
    font-size: 22px;
    font-weight: bold;
    color: #646464;
}

.content-footer {
    font-size: 14px;
    color: #A2A6A8;
}
.srContentHeader {
    margin-top: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}


/****************** Service Requests ******************/
.exportBtnDiv {
    display: flex;
    justify-content: end;
    margin-bottom:20px;
}
button.exportBtn {
    background-color: #1FB6FF;
    color: white;
    padding: 14px 18px;
    font-size: 16px;
    border-radius: 7px;
}
.umTable {
    margin: 20px 20px 0 0;
}
#userManageTB thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #E1E1E1;
}
#userManageTB thead tr {
    background-color: #F9F9F9;
}
#userManageTB thead th {
    padding: 17px 20px 18px 14px;
}
#userManageTB tbody tr {
    background-color: white;
    border: 1px solid #e1e1e1;
}
#userManageTB tbody td {
    padding: 15px 20px 15px 14px;
    color: #646464;
}
.table-bottom {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 15px 15px;
    border-top: none;
}
.dataTables_wrapper .dataTables_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    color: #646464;
    font-size: 14px;
    padding-left: 8px;
}
.dataTables_length label {
    color: #646464;
    font-size: 14px;
}
.dataTables_length label select {
    color: #646464;
    margin:0 10px;
}
div#userManageTB_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous {
    border-radius: 4px 0 0 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #D6D6D6;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #D6D6D6;
    color: #646464;
    margin: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white;
    background: #565656;
    border: 1px solid #565656;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.next {
    border-radius: 0 4px 4px 0;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
span.arrow-hack {
    margin-left: 5px;
    padding-left: 5px;
}

.arrow-hack.sort {
    background: url("/img/sort.png") no-repeat center right;
}

.arrow-hack.desc {
    background: url("/img/sort_desc.png") no-repeat center right;
}

.arrow-hack.asc {
    background: url("/img/sort_asc.png") no-repeat center right;
}
#userManageTB thead th:nth-child(8) > span{
    display: none;
}
.content-footer {
    margin: 22px 0;
}
div#userManageTB_info {
    display: none;
}
/****************** Service Requests ******************/
