@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Loading Spinner*/
.loading-div{
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(26,26,26,0.6);
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #1D7A8C;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
    border: 1px solid white;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
/*Loading Spinner*/

.um-logo-txt {
    font-size: 30px;
    color: white;
}

.um-navbar nav {
    background-color: #1FB6FF;
    padding: 0;
}

.um-navbar .container-fluid {
    padding: 5px 15px;
}

.um-top-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.um-top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 5px;
}

span.userName {
    font-size: 16px;
    color: white;
    margin: 0 17.35px 0 7px;
}

.logoutBtn a{
    text-decoration:none;
    color:white
}

.admin-panel {
    margin-top: 55px;
}

.um-admin {
    display: flex;
}

.admin-leftMenu {
    position: sticky;
    top: 55px;
    height: calc(100vh - 55px);
    width: 20vw;
}

.um-left-menu a {
    color: #646464;
    border-bottom: 1px solid#E5E5E5;
    padding: 15px 14px 16px 14px;
    border-top: none;
    font-size:16px;
}

.um-left-menu a.active {
    color: #1FB6FF;
}

.um-left-menu a:hover {
    color: #3ebbfa;
    cursor: pointer;
}

.admin-mainContent {
    width: 80vw;
    background-color: #eeeeef;
    padding-left: 20px;
    min-height:100vh;
}

.sectionName {
    font-size: 22px;
    font-weight: bold;
    color: #646464;
}

.content-footer {
    font-size: 14px;
    color: #A2A6A8;
}
.srContentHeader {
    margin-top: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}


/****************** User Management ******************/
.exportBtnDiv {
    display: flex;
    justify-content: end;
    margin-bottom:20px;
}
button.exportBtn {
    background-color: #1FB6FF;
    color: white;
}
button.exportBtn:hover {
    color: white;
}
.umTable {
    margin: 20px 20px 0 0;
}
#userManageTB thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #E1E1E1;
}
#userManageTB thead tr {
    background-color: #F9F9F9;
}
#userManageTB thead th {
    padding: 17px 20px 18px 14px;
}
#userManageTB tbody tr {
    background-color: white;
    border: 1px solid #e1e1e1;
}
#userManageTB tbody td {
    padding: 15px 20px 15px 14px;
    color: #646464;
}
.dropdown ul.dropdown-menu{
    inset:0px;
}
.table-bottom {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 15px 15px;
    border-top: none;
}
.dataTables_wrapper .dataTables_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    color: #646464;
    font-size: 14px;
    padding-left: 8px;
}
.dataTables_length label {
    color: #646464;
    font-size: 14px;
}
.dataTables_length label select {
    color: #646464;
    margin:0 10px;
}
div#userManageTB_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous {
    border-radius: 4px 0 0 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid #D6D6D6;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #D6D6D6;
    color: #646464;
    margin: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white;
    background: #565656;
    border: 1px solid #565656;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.next {
    border-radius: 0 4px 4px 0;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    padding: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
span.arrow-hack {
    margin-left: 5px;
    padding-left: 5px;
}

.arrow-hack.sort {
    background: url("/img/sort.png") no-repeat center right;
}

.arrow-hack.desc {
    background: url("/img/sort_desc.png") no-repeat center right;
}

.arrow-hack.asc {
    background: url("/img/sort_asc.png") no-repeat center right;
}
#userManageTB thead th:nth-child(8) > span{
    display: none;
}
.content-footer {
    margin: 22px 0;
}
div#userManageTB_info {
    display: none;
}
span.ActiveStatus {
    padding: 4px 11px;
    background: #67B644;
    color: white;
    font-size:13px;
}
span.InactiveStatus {
    padding: 4px 9px;
    background: #FF6B6B;
    color: white;
    font-size:13px;
}
span.Not.ApprovedStatus {
    padding: 4px;
    background: #1FB6FF;
    color: white;
    font-size: 13px;
}
.dropdown a{
    color:#646464;
    text-decoration:none;
    cursor:pointer;
    text-align:center;
}
#userManageTB thead th:nth-child(8), #userManageTB thead th:nth-child(7), #userManageTB tbody tr td:nth-child(7), .dropdown{
    text-align:center
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color:transparent;
    color:#4f4f4f;
    font-weight:bold;
}

div#actionMsg {
    font-size: 16px;
    font-weight: bold;
}
.searchingTab {
    display: flex;
    flex-wrap: wrap;
    background: white;
    margin: 20px 20px 0px 0px;
    padding: 20px 15px 10px;
}
.userTypeSelect {
    max-width: 123px;
}
.fromDTSearch {
    position: relative;
}
#searchFromDate[readonly]{
    background-color:white;
    max-width:135px;
    padding-left:35px;
    color: #646464;
}
.fromDTSearch svg {
    position: absolute;
    top: 9px;
    left: 12px;
}
.toDTSearch {
    position: relative;
}
#searchToDate[readonly]{
    background-color:white;
    max-width:135px;
    padding-left:35px;
    color: #646464;
}
.toDTSearch svg {
    position: absolute;
    top: 9px;
    left: 12px;
}
.PhoneNumberSearch {
    max-width: 185px;
}
input#searchPinCode {
    max-width: 112px;
}
.PhoneNumberSearch .input-group {
    margin: 0;
}
#searchBtn {
    background-color: #1FB6FF;
    color: white;
    margin-right: 5px;
}
#clearBtn {
    border: 1px solid #DEDDDD;
    background-color:white;
    color:#646464;
}
span#basic-addon1 {
    color: #646464;
}
input#searchEmail, input#searchPhone, input#searchPinCode, #searchServiceId, select#userSelect, select#userTypeSelect, select#customerSelect, select#spSelect, select#reqStatusSelect, input#searchEmail {
    color: #646464 !important;
}
.searchingTab div {
    margin: 0 5px 10px;
}
#userManageTB td.dataTables_empty {
    text-align: center;
}
#userTypeSelect {
    background-image: url("/img/angle-arrow-down.png");
    background-size: 12px 12px;
}

/*Success Modal*/
#adminUMSuccessModal .modal-dialog {
    justify-content: center;
    align-items: center;
}

#adminUMSuccessModal .modal-content {
    max-width: 400px;
}

#adminUMSuccessModal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 20px;
}

i.fas.fa-check-circle {
    color: #67b644;
}

span.successTxt {
    font-size: 20px;
    color: #646464;
    padding: 25px 0px;
}

span.successBtn button {
    text-decoration: none;
    padding: 9px 20px;
    background-color: #1D7A8C;
    color: white;
    border-radius: 23px;
}

span.successBtn button:hover {
    color: white;
    background-color: #146371;
}
/*Success Modal*/
/****************** User Management ******************/

/****************** Service Request ******************/
#servReqTB thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #E1E1E1;
}
#servReqTB td.dataTables_empty{
    text-align:center;
}
#servReqTB thead tr {
    background-color: #F9F9F9;
}
#servReqTB thead th {
    padding: 17px 20px 18px 14px;
}
#servReqTB tbody tr {
    background-color: white;
    border: 1px solid #e1e1e1;
}
#servReqTB tbody td {
    padding: 15px 20px 15px 14px;
    color: #646464;
}
div#servReqTB_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}
#servReqTB thead th:nth-child(7) > span {
    display: none;
}
.costomerSelect span{
    height:38px;
}
div#servReqTB_info {
    display: none;
}
.CustomerDataSH, .SPData{
    display: flex;
    align-items: center;
}
.CustomerDataAdd, .SPNameRate{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.spRateSerDateTimeDiv {
    display: flex;
    flex-direction: column;
}
.SPData img{
    height:46px;
}
#servReqTB thead th:nth-child(7), #servReqTB thead th:nth-child(6), #servReqTB thead th:nth-child(5), #servReqTB tbody td:nth-child(7),#servReqTB tbody td:nth-child(6),#servReqTB tbody td:nth-child(5) {
   text-align:center;
}
span.NewStausSR {
    padding: 4px 11px;
    background: #F2BB37;
    color: white;
    font-size: 13px;
}
span.CompletedStausSR {
    padding: 4px 11px;
    background: #67B644;
    color: white;
    font-size: 13px;
}
span.PendingStausSR {
    padding: 4px 11px;
    background: #1FB6FF;
    color: white;
    font-size: 13px;
}
span.CancelledStausSR {
    padding: 4px 11px;
    background: #FF6B6B;
    color: white;
    font-size: 13px;
}
.spRateSerDateTimeDiv:hover, .CustomerDataSH:hover, .reqIdSR:hover {
    font-weight: bold;
    cursor: pointer;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #646464;
    line-height: 28px;
    margin-top: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("/img/angle-arrow-down.png");
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position-y: center;
    margin-top:5px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 38px;
}
table#servReqTB {
    display: block;
    overflow-x: scroll;
}
/* ---ReqDetails Modal--- */
#reqDetailsModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#reqDetailsModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
#reqDetailsModal .modal-body {
    color: #646464;
    padding: 0px 14px;
    display:flex;
}
#reqDetailsModal .modal-footer {
    border-top: none;
    justify-content:start;
}
#reqDetailsModal .modal-body .row {
    margin: 0 5px;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 0;
}
#reqDetailsModal .modal-body .row span{
    padding:0;
}
.reqDataPayment {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.reqDataHasPetTrue i {
    background-color: #67B644;
    color: white;
    padding: 4px;
    border-radius: 50%;
    margin-right: 5px;
}
.reqDataHasPetFalse i {
    background-color: #f93737;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    margin-right: 5px;
}
span.reqCommentText {
    margin-bottom: 10px;
}
#serReqSpDataSH {
    padding: 10px;
    border-left: 2px solid #c8c8c8;
    margin-bottom: 10px;
}

input#searchServiceId, select#reqStatusSelect {
    max-width: 100px;
}

input#searchEmail{
    max-width:180px;
}

/* ---Reschedule Modal---*/
/*  SP Star Ratings  */
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: flex;
    font-size: 25px;
    line-height: 1;
    align-items: center;
}

.Stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rateNumber {
    font-size: 14px;
    padding-left: 5px;
}
/*  SP Star Ratings  */

/*    Edit command Reschedule main    */
#editAndRescheduleModal{
    color:#646464;
}
#editAndRescheduleModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#editAndRescheduleModal .modal-header h5 {
    font-size: 20px;
    font-weight:bold;
}
#editAndRescheduleModal .col-md-6{
    margin:5px 0;
}
#editAndRescheduleModal .col-md-12 span{
    font-weight:bold;
}
select#selectBookTime {
    color: #646464;
}
#textComment{
    resize:none;
}
#updateBtn{
    background-color:#1FB6FF;
    color:white;
    width:100%;
    margin-top:20px;
}
#updateBtn:hover{
    background-color:#0bacfb;
}
.datepicker{
    margin-top:60px;
}
#editAndRescheduleModal .col-md-6:nth-child(1){
    position:relative;
}
#editAndRescheduleModal .col-md-6:nth-child(1) svg{
    position: absolute;
    top: 40px;
    left: 23px;
}
input#inputDate {
    padding-left: 40px;
}
input#inputDate[readonly]{
    background-color:white;
}
/*    Edit command Reschedule main    */

/*    Refund Modal    */
#refundModal{
    color:#646464;
}
#refundModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#refundModal .modal-header h5 {
    font-size: 20px;
    font-weight:bold;
}
#refundModal .col-md-6{
    margin:5px 0;
}
#refundModal .col-md-12 span{
    font-weight:bold;
}
#refundModal form {
    margin-top: 10px;
}
#refundModal label{
    font-weight:bold;
    margin-bottom:5px;
}
.amountDetail {
    display: flex;
    justify-content: space-between;
}
.paidAmountDiv, .refundAmountDiv, .balanceAmountDiv {
    display: flex;
    flex-direction: column;
}
#refundBtn {
    background-color: #1FB6FF;
    color: white;
    width: 100%;
    margin-top: 20px;
}
#textRefund {
    resize: none;
}
span#percentageTxt {
    color: #646464;
}
button#calcBtn {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color:#646464;
}
/*    Refund Modal    */
/****************** Service Request ******************/

@media only screen and (max-width: 1080px) {
    table#userManageTB {
        overflow-x: scroll;
        display: block;
    }
}