@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    line-height:1.5;
}
textarea{
    resize:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*  SP Star Ratings form DashBoard and SH  */
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 25px;
    line-height: 1;
}

.Stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#rateNumber{
    font-size:14px;
    padding-left:5px;
}
/*  SP Star Ratings form DashBoard and SH  */

/*Loading Spinner*/
.loading-div{
    position:fixed;
    height:100vh;
    width:100vw;
    background-color:rgba(26,26,26,0.6);
    top:0;
    left:0;
    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #1D7A8C;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
    border: 1px solid white;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
/*Loading Spinner*/

/*   ----------Customer Dashboard----------   */
#srBookReq {
    text-decoration: none;
    color: white;
    background-color: #1D7A8C;
    padding: 8px 15px;
    border-radius: 23px;
}
button.srReschedule {
    background-color: #1D7A8C;
    padding: 8px 10px;
    color: white;
    border-radius: 17px;
    margin-right: 5px;
}
button.srReschedule:hover{
    background-color: white;
    color: #1D7A8C;
    border:1px solid #1D7A8C;
}
button.srCancel {
    background-color: #FF6B6B;
    color: white;
    border-radius: 17px;
    padding: 8px 10px;
}
button.srCancel:hover {
    background-color: white;
    color: #FF6B6B;
    border: 1px solid #FF6B6B;
}
.sr-tb-payment span {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
}

#serReqTable thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e1e1e1;
}

#serReqTable thead th {
    padding: 17px 10px 20px 10px;
}

#serReqTable thead th img {
    margin: -2px 0 0 8px;
}

#serReqTable tbody td {
    padding: 10px;
    color: #646464;
}

#serReqTable tbody tr {
    border: 1px solid #e1e1e1;
}
.sr-tb-payment {
    text-align: center;
}
td.dataTables_empty {
    text-align: center;
}
span.sp-Name-rate {
    display: flex;
    flex-direction: column;
}
.serReqDateTimeDash{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
.spanreqDTDash {
    display: flex;
    justify-content: center;
    align-items: start;
}
.serviceReqIdDash:hover, .serReqDateTimeDash:hover {
    cursor: pointer;
    font-weight: bold;
}
.reqDataDate {
    font-size: 22px;
    line-height: 26px;
    color: #4f4f4f;
    font-weight: 700;
}
.reqDataDuration, .reqDataAddress, .reqDataId, .reqDataNetAmount, .reqDataPhone, .reqDataEmail, .reqDataComments, .reqDataHasPetTrue, .reqDataHasPetTrue, .reqDataHasPetFalse, .reqDataExtra, .reqDataExtraTitle {
    font-size: 16px;
}
span.arrow-hack {
    margin-left: 5px;
    padding-left: 5px;
}

.arrow-hack.sort {
    background: url("/img/sort.png") no-repeat center right;
}

.arrow-hack.desc {
    background: url("/img/sort_desc.png") no-repeat center right;
}

.arrow-hack.asc {
    background: url("/img/sort_asc.png") no-repeat center right;
}
#serReqTable thead th:nth-child(5) > span, #shTable thead th:nth-child(6) > span {
    display: none;
}
ul#radioSelectUl {
    min-width: 13rem;
    color: #646464;
    inset: 0px;
}
#radioSelectUl li label {
    padding-left: 5px;
    cursor: pointer;
}



/* ---ReqDetails Modal--- */
#reqDetailsModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#reqDetailsModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
#reqDetailsModal .modal-body {
    color: #646464;
    padding: 0px 14px;
    display:flex;
}
#reqDetailsModal .modal-footer {
    border-top: none;
    justify-content:start;
}
#reqDetailsModal .modal-body .row {
    margin: 0 5px;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 0;
}
#reqDetailsModal .modal-body .row span{
    padding:0;
}
.reqDataPayment {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.reqDataHasPetTrue i {
    background-color: #67B644;
    color: white;
    padding: 4px;
    border-radius: 50%;
    margin-right: 5px;
}
.reqDataHasPetFalse i {
    background-color: #f93737;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    margin-right: 5px;
}
span.reqCommentText {
    margin-bottom: 10px;
}

/* ---Reschedule Modal---*/
#rescheduleModal .modal-header {
    border-bottom: none;
}
#rescheduleModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
}
#rescheduleModal .modal-content {
    max-width: 400px;
}
#rescheduleModal .modal-footer {
    border-top: none;
}
#rescheduleModal .modal-footer button {
    width: 100%;
    background-color: #1D7A8c;
}
.fromDt{
    position:relative;
    color:#4f4f4f;
}
.fromDt input::placeholder{
    color:#4f4f4f;
}
.fromDt svg{
    position:absolute;
    left:10px;
    top:8px;
}
select#selectBookTime {
    height: 38px;
    color: #646464;
}
input#bookDt {
    color: #646464;
}
.ui.input.left.icon.fDT {
    width: 100%;
}
span.reScheReqTitle {
    color: #646464;
}
/* ---Cancel Modal--- */
#cancelReqModal .modal-header {
    border-bottom: none;
}
#cancelReqModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
}
#cancelReqModal .modal-content {
    max-width: 400px;
}
#cancelReqModal .modal-footer {
    border-top: none;
}
#cancelReqModal .modal-footer button {
    width: 100%;
    background-color: #1D7A8c;
}
  
/*    reschedule and cancel modal  */

#reScheCancelSuccessModal .modal-dialog {
    justify-content: center;
    align-items: center;
}

#reScheCancelSuccessModal .modal-content {
    max-width: 400px;
}

#reScheCancelSuccessModal .modal-header a{
    cursor:pointer;
}

#reScheCancelSuccessModal .modal-header {
    border-bottom: none;
}

#reScheCancelSuccessModal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px;
}

i.fas.fa-check-circle {
    color: #67b644;
}

span.reCancelSuccessTxt {
    font-size: 22px;
    color: #646464;
    padding: 25px 0px;
    text-align: center;
}

span.reCancelSuccessSmTxt {
    padding-bottom: 20px;
    color: #646464;
    font-size: 16px;
}

span.reCancelSuccessModalBtn a {
    text-decoration: none;
    padding: 9px 20px;
    background-color: #1D7A8C;
    color: white !important;
    border-radius: 23px;
    cursor:pointer;
}






/*   ----------Customer Account----------   */
nav.accNav div button {
    background-color: transparent;
    border: none;
    color: #646464;
    font-weight: 600;
    border-bottom: 3px solid #d1d1d1;
}
nav.accNav div button:hover{
    border-bottom: 3px solid #1d7a8c;
    color: #1D7A8C;
}

nav.accNav div button.active{
    border-bottom: 3px solid #1d7a8c;
    color: #1D7A8C !important;
}
#nav-tabAccount{
    margin-top:20px;
}
#passChange .row {
    flex-wrap: nowrap;
    flex-direction: column;
}
#passChange .row div{
    font-weight:600;
    color:#646464;
    max-width:300px;
}
.btnChangeSave {
    padding: 8px 15px;
    background-color: #1d7a8c;
    color: white;
    border-radius:50px
}
.btnChangeSave:hover{
    background-color:#146371;
    color:white;
}
form#passChange {
    margin-bottom: 10px;
}
.addressDetails {
    display: flex;
    flex-direction: column;
}
#getDetailsForm {
    color: #646464;
    font-weight: 600;
    margin-bottom: 10px;
}
.dobSelect select {
    padding: 5px 3px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
    color: #646464;
    flex-grow: 1;
}
span#basic-addon1 {
    color: #646464;
}
.dobSelect select.invalid {
    color: #E9403C;
}
.date-dropdowns {
    display: flex;
    height: 38px;
}
.addAction {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.addAction a{
    text-decoration:none;
    color:#646464;
}

.addAction a i{
    cursor:pointer;

}
.addAction a:hover{
    color:#3b3b3b;
}
.addAction i:nth-child(1){
    margin-left:5px;
}
#accAddressTab > :not(caption) > * > * {
    border-bottom: 0;
}
#accAddressTab thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e1e1e1;
}
#accAddressTab thead tr th:nth-child(1){
    padding-left:20px;
}
#accAddressTab tbody tr {
    border: 1px solid #e1e1e1;
}
#accAddressTab tbody td {
    padding: 10px 10px 10px 20px;
    color: #646464;
}
.addNewAddressBtn{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#loadMoreDataBtn {
    padding: 8px 15px;
    background-color: transparent;
    color: #646464;
    border-radius: 50px;
    border: 1px solid #646464;
}
#loadMoreDataBtn:hover{
    border: 1px solid #1D7A8C;
    color: #1D7A8C;
}
#rowNumbers{
    color: #646464;
    padding: 8px 15px;
}


/*Edit address Modal*/
#addNewAddressModal .modal-header {
    border-bottom: none;
}

#addNewAddressModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
}

#addNewAddressModal .modal-body {
    color: #646464;
}

#addNewAddressModal .modal-footer {
    border-top: none;
    justify-content: start;
}
#addNewAddressModal .col-md-6 {
    margin-bottom: 10px;
}
#addNewAddressModal .modal-footer button {
    width: 100%;
    background-color: #1D7A8c;
}

/*  Delete address Modal  */
#deleteAddressModal .modal-header {
    border-bottom: none;
}

#deleteAddressModal .modal-header h5 {
    color: #646464;
    font-size: 24px;
    font-weight:bold;
}

#deleteAddressModal .modal-content {
    width: auto;
}
#deleteAddressModal .modal-body {
    color: #646464;
}
#deleteAddressModal .modal-body h4{
    font-size:16px;
}

#deleteAddressModal .modal-footer {
    border-top: none;
    justify-content: start;
}

#deleteAddressModal .col-md-6 {
    margin-bottom: 10px;
}

#deleteAddressModal .modal-footer button {
    background-color: #1D7A8c;
    padding: 6px 20px;
    border-radius: 23px;
}









/*   ----------Service History----------   */
.serviceHistory-nav {
    background-color: #525252;
}

.shSmallNav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 14px 4px 15px;
}

.shSmallNav .hamburger i {
    font-size: 36px;
    color: #858585;
    padding-right: 10px;
}

.sh-sp-btn {
    background: #29626d 0% 0% no-repeat padding-box;
    border: 1px solid #ffffff80;
    border-radius: 20px;
}

.us-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 10px;
    padding: 9px 17px;
}

.shSmallNav .smallNavNofitify a {
    position: relative;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 9px 17px;
    color: white;
}

.sm-notify-badge {
    position: absolute;
    padding: 0px 6px;
    border-radius: 50%;
    background: red;
    font-size: 13px;
    font-weight: bold;
    top: -2px;
    right: 2px;
}

.us-notification a {
    position: relative;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.notify-badge {
    position: absolute;
    top: -5px;
    right: 6px;
    padding: 0px 6px;
    border-radius: 50%;
    background: red;
    font-size: 13px;
    font-weight: bold;
}

.us-user .dropdown-menu[data-bs-popper] {
    top: 166%;
}

.us-user-dropdown a:hover {
    background-color: transparent;
}

a#navbarDarkDropdownMenuLink {
    cursor: pointer;
}
.user-name {
    margin-top: 64px;
    height: 120px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f9f9f9;
}

.user-name h2 {
    font-size: 30px;
    color: #4f4f4f;
    font-family: "Roboto", sans-serif;
}

.us-left-menu {
    background-color: #1D7A8C;
    width: 262px;
    border-left: 1px solid #1d7a8c;
    border-right: 1px solid #1d7a8c;
}

.us-left-menu .nav-link:hover {
    background-color: #146371;
    color: white;
    cursor: pointer;
}

.us-left-menu .active {
    background-color: #146371;
    color: white;
}

.us-left-menu .nav-link {
    padding: 13.5px 16px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #bdbdbd8e;
    font-size: 18px;
}

.us-right-menu {
    padding-left: 32px;
    width: 847px;
}

.customer-dash {
    margin: 31px 0;
    margin-bottom: 100px;
}

.us-nav a:hover {
    color: rgb(202, 202, 202);
}

.us-footer a:hover {
    color: rgb(202, 202, 202);
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-header h3 {
    font-size: 22px;
    font-weight: bold;
    color: #646464;
    font-family: "Roboto", sans-serif;
}

.content-header button {
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #1D7A8C;
    border-radius: 17px;
    border: 1px solid #1D7A8C;
}

.content-header button:hover {
    border: 1px solid #1D7A8C;
    color: #1D7A8C;
    background-color: white;
}
.content-header .smSortingBtn{
    display:none;
}

ul#radioSelectUl {
    min-width: 13rem;
}

#radioSelectUl li {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
}

#radioSelectUl li input[type=radio]{
    accent-color:#1D7A8C;
}
#shTable thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e1e1e1;
}

#shTable thead th {
    padding: 17px 20px 20px 14px;
}

#shTable thead th img {
    margin: -2px 0 0 8px;
}

#shTable tbody td {
    padding: 10px 20px 10px 14px;
    color: #646464;
}

#shTable tbody tr {
    border: 1px solid #e1e1e1;
}

.tb-btn-cancel a:hover {
    color: #FF6B6B;
    background-color: white;
    border: 1px solid #FF6B6B;
}

.tb-btn-cancel a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    padding: 7px 15px;
    background-color: #FF6B6B;
    border-radius: 17px;
}

.service-date {
    display: flex;
    flex-direction: column;
}

.img-home {
    margin-top: -5px;
}

#shTable tbody tr {
    background-color: white !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

.tb-km {
    text-align: center;
}

.dataTables_length {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataTables_length label {
    color: #646464;
    font-size: 14px;
}

.dataTables_length label select {
    color: #646464;
    margin-left: 10px;
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    color: #646464;
    font-size: 14px;
    padding-left: 8px;
}

.dataTables_paginate .paginate_button img {
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    padding: 15px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 9.9px 14px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    display: inline;
    color: #646464;
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #1d7a8c !important;
    border: 1px solid transparent;
    text-decoration:none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
    cursor:pointer;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.first:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.last:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover {
    background: transparent !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button:hover, .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: white !important;
    background: #1d7a8c !important;
    border: 1px solid transparent;
}

table.dataTable thead th {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
    border-collapse: collapse;
    margin: 15px 0;
}

.sh-tb-details {
    padding-left: 22px !important;
}

.sh-tb-details img {
    margin-top: -5px;
}

.sh-tb-details span:nth-child(1) {
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}

.sh-tb-details .sh-tb-timing {
    color: #646464;
    font-size: 16px;
}

.starRating {
    color: #646464;
    font-size: 16px;
}

.sh-tb-provider {
    display: flex;
    align-items: center;
    color: #646464;
}

.sh-tb-provider span:nth-child(1) img {
    border-radius: 50%;
    height: 50px;
    border: 2px solid #c8c8c8;
    margin-right: 10px;
}

.sp-tb-name {
    color: #646464;
    font-size: 16px;
}

.sh-tb-provider .sp-details {
    padding: 12px 7px;
    display: flex;
    flex-direction: column;
}

.sh-tb-payment {
    text-align: center;
}

.sh-tb-payment span:nth-child(1) {
    color: #1d7a8c;
    font-size: 20px;
}

.sh-tb-payment span:nth-child(2) {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
}

.sh-tb-status-completed {
    text-align: center;
}

.sh-tb-status-completed span {
    color: white;
    background-color: #67b644;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
}

.sh-tb-status-cancelled {
    text-align: center;
}

.sh-tb-status-cancelled span {
    color: white;
    background-color: #FF6B6B;
    padding: 5px 13px 4px 12px;
    font-size: 13px;
}

.sh-tb-rate button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    padding: 8px 9px 9px 12px;
    background-color: #1D7A8C;
    border: 1px solid #1D7A8C;
    border-radius: 17px;
}
.sh-tb-rate button:hover {
    background-color: #146371;
    color:white;
}

/*table.dataTable thead .sorting {
    background-image: url("/img/sort.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.dataTable thead .sorting_asc {
    background-image: url("/img/sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("/img/sort_desc.png");
}*/

.table-bottom {
    margin-top: 10px;
}

.footer {
    background-color: #111111;
}

.footer-navbar a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 14px;
    letter-spacing: 0px;
}

.footer-separator {
    height: 1px;
    margin: 1rem 0;
    background-color: #424242;
    border: 0;
    opacity: 1;
}

.footer-policy{
    font-size: 14px;
    padding: 20px 0px;
    margin: 0px;
    color: #9ba0a3;
}

.home-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.up-arrow {
    width: 48px;
    height: 48px;
    background-color: #525252;
    border-radius: 50%;
    position: relative;
    float: left;
    margin: 0px 0px;
}

.up-pos {
    position: absolute;
    top: 37%;
    left: 28%;
}
/*  Ratings Modal  */
#reqRatingsModal .modal-header {
    border-bottom: none;
}

#reqRatingsModal .modal-footer {
    border-top: none;
}
#reqRatingsModal .modal-footer button {
    width: 100%;
    background-color: #1D7A8c;
}
#reqRatingsModal .modal-body .row:nth-child(1) {
    margin: 0px;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 0;
}
.rate-submitBtn button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 20px;
    background-color: #1D7A8C;
    border: 1px solid #1D7A8C;
    border-radius: 17px;
}
.rate-submitBtn button:hover{
    background-color:#146371;
    color:white;
}
.rateHead {
    color: #646464;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}
.rate-Feedback label{
    color:#646464;
}
#reqRatingsModal .modal-body .row:nth-child(2){
    justify-content:space-between;
    align-items:center;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
}
.starlabel{
    color:#646464;
}
.rate-submitBtn {
    padding: 15px 12px;
}
#reqRatingsModal input[type=radio] {
    display: none;
}
.therating {
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.rating > label {
    cursor: pointer;
    color: #ccc;
    width: 1.5rem;
    font-size: 18px;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
    color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
    content: "\2605";
    color: #FFD700;
}

/*  Request datalist Modal  */
#serReqSpDataSH {
    padding: 10px;
    border-left: 2px solid #c8c8c8;
    margin-bottom: 10px;
}











/*  Media Queries  */
@media screen and (min-width: 993px) {
    #smSerHistoryNav {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    div.us-left-menu {
        display: none;
    }

    #serHistoryNav {
        display: none;
    }

    div.us-right-menu {
        padding-left: 0;
    }

    .table-bottom-inner {
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
    div#serReqTable_paginate {
        text-align: end;
        padding:5px;
    }
    div#shTable_paginate{
        text-align: end;
        padding:5px;
    }
    .table-bottom {
        justify-content: center;
        flex-direction: column;
    }

    .smNavMenu {
        position: fixed;
        min-height: 100vh;
        width: 100vw;
        top: 0;
        left: 100vw;
        transition: left 0.4s;
    }

    .smNavMenu.open {
        left: 0;
    }

    .firstPart {
        background: rgba(0, 0, 0, 0);
        width: 70vw;
        height: 100vh;
        transition: background 0.35s;
    }

    .smNavMenu.open .firstPart {
        background: rgba(0, 0, 0, 0.45);
    }

    .secondPart {
        width: 30vw;
        font-size: 17px;
        color: #646464;
        background-color: #fff;
        font-size: 14px;
    }

    .uName {
        padding: 8px 16px;
    }

    .navItem {
        padding: 8px 16px;
    }

    .navItem a {
        text-decoration: none;
        color: #646464;
        cursor: pointer;
    }

    .navItem a:hover {
        color: #646464;
    }

    .dashNavSide a {
        color: #646464;
        text-decoration: none;
        padding: 8px 16px;
        cursor: pointer;
    }

    .dashNavSide a.active {
        color: #1D7A8C;
    }

    .dashNavSide a:hover {
        color: #2c94a8;
    }

    .smNavSeparator {
        background: #3b3b3b;
        margin: 5px 0;
    }

    .socialIcon I {
        color: #111111;
        margin: 10px;
    }
}

@media screen and (max-width: 650px) {
    #serReqTable thead {
        display: none;
    }

    #serReqTable tbody {
        display: grid;
    }

    #serReqTable tbody tr {
        border: 1px solid #8d8d8d;
        margin-bottom: 15px;
        box-shadow: 3px 3px #8888;
    }

    #serReqTable td {
        display: block;
        border: 1px solid #e1e1e1;
    }
    
    #shTable thead {
        display: none;
    }

    #shTable tbody {
        display: grid;
    }

    #shTable tbody tr {
        border: 1px solid #8d8d8d;
        margin-bottom: 15px;
        box-shadow: 3px 3px #8888;
    }

    #shTable td {
        display: block;
        border: 1px solid #e1e1e1;
    }
    .customer-dash {
        margin-bottom: 0;
    }
    .sr-tb-payment {
        text-align: start;
    }
    
    .sh-tb-payment {
        text-align: start;
    }

    .sh-tb-status-completed {
        text-align: start;
    }

    .sh-tb-status-cancelled {
        text-align: start;
    }
    

    .firstPart {
        width: 50vw;
    }

    .secondPart {
        width: 50vw;
    }
    .content-header {
        flex-direction: column;
    }
    .content-header .smSortingBtn {
        display: block;
    }
    .headAndSortDiv {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }
    a#srBookReq {
        margin-top: 10px;
    }
    .content-header .smSortingBtn a{
        color:#646464;
        padding-right:5px;
    }
}

@media screen and (max-width: 482px) {
    #srBookReq span{
        display:none;
    }
    #srBookReq::after {
        content: "Book";
    }

    #reqDetailsModal .modal-body{
        flex-direction:column-reverse;
    }

    #serReqSpDataSH{
        border-left:none;
        border-bottom: 1px solid #c8c8c8;
        padding:10px;
    }
}