@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    resize: none;
}

/*    Navbar      */
.serviceHistory-nav {
    background-color: #525252;
}

.shSmallNav .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 14px 4px 15px;
}

.shSmallNav .hamburger i {
    font-size: 36px;
    color: #858585;
    padding-right: 10px;
}
.us-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    margin: 10px;
    padding: 9px 17px;
}

.shSmallNav .smallNavNofitify a {
    position: relative;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 9px 17px;
    color: white;
}

.sm-notify-badge {
    position: absolute;
    padding: 0px 6px;
    border-radius: 50%;
    background: red;
    font-size: 13px;
    font-weight: bold;
    top: -2px;
    right: 2px;
}

.us-notification a {
    position: relative;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.notify-badge {
    position: absolute;
    top: -5px;
    right: 6px;
    padding: 0px 6px;
    border-radius: 50%;
    background: red;
    font-size: 13px;
    font-weight: bold;
}

.us-user .dropdown-menu[data-bs-popper] {
    top: 166%;
}

.us-user-dropdown a:hover {
    background-color: transparent;
}

a#navbarDarkDropdownMenuLink {
    cursor: pointer;
}
/*    Navbar      */

/*    SP Dashboard Common Part   */
.user-name {
    margin-top: 64px;
    height: 120px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f9f9f9;
}

.user-name h2 {
    font-size: 30px;
    color: #4f4f4f;
    font-family: "Roboto", sans-serif;
}

.us-left-menu {
    background-color: #1D7A8C;
    width: 262px;
    border-left: 1px solid #1d7a8c;
    border-right: 1px solid #1d7a8c;
}

.us-left-menu .nav-link:hover {
    background-color: #146371;
    color: white;
    cursor: pointer;
}

.us-left-menu .active {
    background-color: #146371;
    color: white;
}

.us-left-menu .nav-link {
    padding: 13.5px 16px;
    width: 100%;
    color: white;
    border-bottom: 1px solid #bdbdbd8e;
    font-size: 18px;
}

.us-right-menu {
    padding-left: 32px;
    width: 847px;
}

.customer-dash {
    margin: 31px 0;
}

.us-nav a:hover {
    color: rgb(202, 202, 202);
}

.us-footer a:hover {
    color: rgb(202, 202, 202);
}
/*    SP Dashboard Common Part    */

/*  SP Star Ratings  */
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: flex;
    font-size: 25px;
    line-height: 1;
    align-items: center;
}

.Stars::before {
    content: '★★★★★';
    background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#rateNumber {
    font-size: 14px;
    padding-left: 5px;
}
/*  SP Star Ratings  */


/********** Service History Page **********/
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-header h3 {
    font-size: 22px;
    font-weight: bold;
    color: #646464;
}
.content-header button {
    text-decoration: none;
    padding: 8px 15px;
    font-size: 14px;
    color: white;
    background-color: #1D7A8C;
    border-radius: 17px;
    border: 1px solid #1D7A8C;
}
.content-header button:hover {
    border: 1px solid #1D7A8C;
    color: #1D7A8C;
    background-color: white;
}
.content-header .smSortingBtn{
    display:none;
}

ul#radioSelectUl {
    min-width: 13rem;
    color:#646464;
}

#radioSelectUl li {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 5px;
}

#radioSelectUl li input[type=radio]{
    accent-color:#1D7A8C;
}
#spServiceHistoryTB thead {
    color: #646464;
    background-color: #F9F9F9;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e1e1e1;
}

#spServiceHistoryTB thead th {
    padding: 17px 20px 20px 14px;
}

#spServiceHistoryTB thead th img {
    margin: -2px 0 0 8px;
}

#spServiceHistoryTB tbody td {
    padding: 10px 20px 10px 14px;
    color: #646464;
}

#spServiceHistoryTB tbody tr {
    border: 1px solid #e1e1e1;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}
.dataTables_length {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataTables_length label {
    color: #646464;
    font-size: 14px;
}

.dataTables_length label select {
    color: #646464;
    margin-left: 10px;
    margin-right: 10px;
}

.dataTables_wrapper .dataTables_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    color: #646464;
    font-size: 14px;
    padding-left: 8px;
}

.dataTables_paginate .paginate_button img {
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    padding: 15px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    padding: 9.9px 14px;
    border: 1px solid #E1E1E1;
    border-radius: 50%;
    display: inline;
    color: #646464;
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
    background: #1d7a8c !important;
    border: 1px solid transparent;
    text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.first:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.last:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover {
    background: transparent !important;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button:hover, .dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: white !important;
    background: #1d7a8c !important;
    border: 1px solid transparent;
}

table.dataTable thead th {
    border-bottom: none;
}

table.dataTable.no-footer {
    border-bottom: none;
    border-collapse: collapse;
    margin: 15px 0;
}
table.dataTable thead .sorting {
    background-image: url("/img/sort.png");
    background-repeat: no-repeat;
    background-position: right center;
}

table.dataTable thead .sorting_asc {
    background-image: url("/img/sort_asc.png");
}

table.dataTable thead .sorting_desc {
    background-image: url("/img/sort_desc.png");
}

.table-bottom {
    margin-top: 10px;
}
.serReqDateTimeDash {
    display: flex;
    flex-direction: column;
}
.CustomerDataSH {
    display: flex;
    align-items: center;
    justify-content: start;
}
.CustomerDataAdd {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
/* ---ReqDetails Modal--- */
#reqDetailsModal .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
#reqDetailsModal .modal-header h5 {
    color: #646464;
    font-size: 20px;
    font-weight:bold;
}
#reqDetailsModal .modal-body {
    color: #646464;
    padding: 0px 14px;
    display:flex;
}
#reqDetailsModal .modal-footer {
    border-top: none;
    justify-content:start;
}
#reqDetailsModal .modal-body .row {
    margin: 0 5px;
    border-bottom: 1px solid #c8c8c8;
    padding: 10px 0;
}
#reqDetailsModal .modal-body .row span{
    padding:0;
}
.reqDataPayment {
    color: #1d7a8c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.reqDataHasPetTrue i {
    background-color: #67B644;
    color: white;
    padding: 4px;
    border-radius: 50%;
    margin-right: 5px;
}
.reqDataHasPetFalse i {
    background-color: #f93737;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    margin-right: 5px;
}
span.reqCommentText {
    margin-bottom: 10px;
}
.serviceReqIdDash:hover, .serReqDateTimeDash:hover, .CustomerDataSH:hover {
    cursor: pointer;
    font-weight: bold;
}
.reqDataDate {
    font-size: 22px;
    line-height: 26px;
    color: #4f4f4f;
    font-weight: 700;
}
.reqDataDuration, .reqDataAddress, .reqDataId, .reqDataNetAmount, .reqDataPhone, .reqDataEmail, .reqDataComments, .reqDataHasPetTrue, .reqDataHasPetTrue, .reqDataHasPetFalse, .reqDataExtra, .reqDataExtraTitle {
    font-size: 16px;
}
/********** Service History Page **********/


/********** My Ratings Page **********/
.content-header-RateTB {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ratingSelect, .ratingSortDiv {
    display: flex;
    align-items: center;
    color:#646464;
}
.ratingSelect span{
    margin-right:10px;
}
.ratingSelect select{
    color:#646464;
}
.ratingSortDiv a{
    text-decoration:none;
    color:#646464;
}

#spRateTable tbody{
    display:grid;
    color:#646464;
}

#spRateTable thead{
    display:none;
}
#spRateTable tbody td {
    display: block;
}

#spRateTable tbody tr {
    border: 1px solid #8d8d8d;
    margin-bottom: 15px;
    box-shadow: 3px 3px #8888;
}
span.rateTDRatingTitle {
    font-size: 16px;
}
.spRateTBFirstpart {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.spRateSerIDNameDiv, .spRateSerDateTimeDiv, .spRateRatingsDiv {
    display: flex;
    flex-direction: column;
}
.spRateTBFirstpart {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0px 40px 10px 0px;
    border-bottom: 2px solid #c8c8c8;
}
.custCommentDiv {
    display: flex;
    flex-direction: column;
    margin: 0 20px 15px;
}
span.spRateTBName, .spanSPRateDTDash, .rateDivHead, .custCommentHead {
    font-weight: bold;
}
#spRateTable td.dataTables_empty {
    text-align: center;
    padding: 20px;
}
/********** My Ratings Page **********/


/********** My Account Page **********/
nav.accNav div button {
    background-color: transparent;
    border: none;
    color: #646464;
    font-weight: 600;
    border-bottom: 3px solid #d1d1d1;
}
nav.accNav div button:hover{
    border-bottom: 3px solid #1d7a8c;
    color: #1D7A8C;
}

nav.accNav div button.active{
    border-bottom: 3px solid #1d7a8c;
    color: #1D7A8C !important;
}
#nav-tabAccount{
    margin-top:20px;
}
#passChange .row {
    flex-wrap: nowrap;
    flex-direction: column;
}
#passChange .row div {
    font-weight: 600;
    color: #646464;
    max-width: 400px;
}
.btnChangeSave {
    padding: 8px 15px;
    background-color: #1d7a8c;
    color: white;
    border-radius:50px
}
.btnChangeSave:hover{
    background-color:#146371;
    color:white;
}
form#passChange {
    margin-bottom: 10px;
}
#getDetailsForm {
    color: #646464;
    font-weight: 600;
    margin: 15px 0;
}
.dobSelect select {
    padding: 5px 3px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
    color: #646464;
    flex-grow: 1;
}
span#basic-addon1 {
    color: #646464;
}
.dobSelect select.invalid {
    color: #E9403C;
}
.date-dropdowns {
    display: flex;
    height: 38px;
}
.spAccStatus span:nth-child(1){
    font-size:20px;
    font-weight:bold;
    color:#646464;
}
#spAccountStatus {
    color:#67b644;
    font-size:20px;
}
div#spAccountHeading {
    display: flex;
    justify-content: space-between;
}
div#spBasicDetails {
    margin-top: -45px;
    border-bottom: 1px solid #c8c8c8;
    margin-right: 100px;
}
div#spBasicDetails h3{
    font-size:18px;
    font-weight:bold;
    color:#646464;
}
select#inputNationality {
    color: #646464;
}
.genderRadio {
    display: flex;
    align-items: center;
}
.genderRadio input{
    margin-right:5px;
    accent-color:#1D7A8C;
}
.genderRadio label{
    margin-right:10px;
    font-weight:normal;
}
.avatarRadio label img {
    height: 85px;
    border-radius: 50%;
    margin-right: 15px;
    cursor:pointer;
}
.avatarRadio input{
    display:none;
}

.avatarRadioOptions input:checked ~ label img {
    border: 3px solid #1D7A8C;
}
h3.spAddressHead {
    font-size: 18px;
    font-weight: bold;
    color: #646464;
}
.spAddSection {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 10px;
}
/********** My Account Page **********/



/*    Footer      */
.footer {
    background-color: #111111;
}

.footer-navbar a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 14px;
    letter-spacing: 0px;
}

.footer-separator {
    height: 1px;
    margin: 1rem 0;
    background-color: #424242;
    border: 0;
    opacity: 1;
}

.footer-policy {
    font-size: 14px;
    padding: 20px 0px;
    margin: 0px;
    color: #9ba0a3;
}

.home-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.up-arrow {
    width: 48px;
    height: 48px;
    background-color: #525252;
    border-radius: 50%;
    position: relative;
    float: left;
    margin: 0px 0px;
}

.up-pos {
    position: absolute;
    top: 37%;
    left: 28%;
}
/*    Footer      */


/*  Media Queries  */
@media screen and (min-width: 993px) {
    #smSerHistoryNav {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    div.us-left-menu {
        display: none;
    }

    #serHistoryNav {
        display: none;
    }

    div.us-right-menu {
        padding-left: 0;
    }

    .table-bottom-inner {
        flex-direction: row;
        justify-content: center;
        padding: 5px;
        margin: 5px;
    }
    div#spServiceHistoryTB_paginate {
        text-align: end;
        padding: 5px;
    }
    div#spRateTable_paginate {
        text-align: end;
        padding: 5px;
    }
    .table-bottom {
        justify-content: center;
        flex-direction: column;
    }

    .smNavMenu {
        position: fixed;
        min-height: 100vh;
        width: 100vw;
        top: 0;
        left: 100vw;
        transition: left 0.4s;
    }

    .smNavMenu.open {
        left: 0;
    }

    .firstPart {
        background: rgba(0, 0, 0, 0);
        width: 70vw;
        height: 100vh;
        transition: background 0.35s;
    }

    .smNavMenu.open .firstPart {
        background: rgba(0, 0, 0, 0.45);
    }

    .secondPart {
        width: 30vw;
        font-size: 17px;
        color: #646464;
        background-color: #fff;
        font-size: 14px;
    }

    .uName {
        padding: 8px 16px;
    }

    .navItem {
        padding: 8px 16px;
    }

    .navItem a {
        text-decoration: none;
        color: #646464;
        cursor: pointer;
    }

    .navItem a:hover {
        color: #646464;
    }

    .dashNavSide a {
        color: #646464;
        text-decoration: none;
        padding: 8px 16px;
        cursor: pointer;
    }

    .dashNavSide a.active {
        color: #1D7A8C;
    }

    .dashNavSide a:hover {
        color: #2c94a8;
    }

    .smNavSeparator {
        background: #3b3b3b;
        margin: 5px 0;
    }

    .socialIcon I {
        color: #111111;
        margin: 10px;
    }
}

@media screen and (max-width: 650px) {
    div#spServiceHistoryTB_paginate {
        text-align: center;
        padding: 5px;
    }

    div#spRateTable_paginate {
        text-align: center;
        padding: 5px;
    }
    #spServiceHistoryTB thead {
        display: none;
    }

    #spServiceHistoryTB tbody {
        display: grid;
    }

    #spServiceHistoryTB tbody tr {
        border: 1px solid #8d8d8d;
        margin-bottom: 15px;
        box-shadow: 3px 3px #8888;
    }

    #spServiceHistoryTB td {
        display: block;
        border: 1px solid #e1e1e1;
    }    

    .firstPart {
        width: 50vw;
    }

    .secondPart {
        width: 50vw;
    }
    .content-header {
        flex-direction: column;
    }
    .content-header .smSortingBtn {
        display: block;
    }
    .headAndSortDiv {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 100%;
    }
    a#srBookReq {
        margin-top: 10px;
    }
    .content-header .smSortingBtn a{
        color:#646464;
        padding-right:5px;
    }
}