
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<!-- About img -->
<section class="about-bg"></section>   
<!-- About img -->

<!-- About-Details Start -->
<section class="about-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center ">
                    <h2 class="content-title">A Few words about us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <hr class="about-hr">
                <img src="/img/faq-separator.png" class="mx-2" alt="">
                <hr class="about-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center text-center">
                <p class="about-para">We are providers of professional home cleaning services, offering hourly based
                    house cleaning options, which mean that you don't <br>
                    have to fret about getting your house cleaned anymore. We will handle everything for you, so
                    that you can focus on spending your <br>
                    precious time with your family members. <br><br>
                    We have a number of experienced cleaners to help you make cleaning out or shifting your home an
                    easy affair.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center ">
                    <h2 class="content-title">Our Story</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <hr class="about-hr">
                <img src="/img/faq-separator.png" class="mx-2" alt="">
                <hr class="about-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center text-center">
                <p class="about-para">A cleaner is a type of industrial or domestic worker who cleans homes or
                    commercial premises for payment. Cleaners may specialise <br>
                    in cleaning particular things or places, such a window cleaners. Cleaners often work when the
                    people who otherwise occupy the <br>
                    space are not around. They may clean offices at night or houses during the workday.</p>
            </div>
        </div>
    </div>
</section>
<!-- About-Details End -->

@section css{
    <link rel="stylesheet" href="/css/about.css">
}
@section script{
    <script src="/js/about.js"></script>
}

