@model Helperland.Models.viewModels.ContactUsVM

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<!-- Contact img -->
<section class="contact-bg"></section>   
<!-- Contact img -->

<!-- ContactUs Division Start -->
<section class="contact-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center ">
                    <h2 class="content-title">Contact us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <hr class="contact-hr">
                <img src="/img/faq-separator.png" class="faq-separator mx-2" alt="">
                <hr class="contact-hr">
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-lg-4 mt-3">
                <div class="text-center">
                    <div class="contact-icon">
                        <img src="/img/location.png" alt="">
                    </div>
                    <div class="contact-txt">
                        <a href="#">1111 Lorem ipsum text 100, <br> Lorem ipsum AB</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="text-center">
                    <div class="contact-icon">
                        <img src="/img/phone-call.png" alt="">
                    </div>
                    <div class="contact-txt d-flex flex-column ">
                        <a href="tel:+49 (40) 123 56 7890">+49 (40) 123 56 7890</a>
                        <a href="tel:+49 (40) 987 56 0000">+49 (40) 987 56 0000</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="text-center">
                    <div class="contact-icon m-3">
                        <img src="/img/mail-icon.png" alt="">
                    </div>
                    <div class="contact-txt">
                        <a href="mailto:info@helperland.com">mailto:info@helperland.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="contact-form">
            <h2>Get in touch with us</h2>
            
            <form class="row g-3 mx-auto" enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="Contact">
                @if(ViewBag.IsSubmit == true)
                {   
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            Your message has been saved successfully.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                }
                <div class="col-md-6">
                    <input asp-for="Firstname" class="form-control form-txt" id="inputFname" placeholder="First name">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input asp-for="Lastname" class="form-control form-txt" id="inputLname" placeholder="Last name">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">+46</span>
                        <input asp-for="PhoneNumber" class="form-control form-txt" placeholder="Phone number">
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input asp-for="Email" class="form-control form-txt" id="inputEmail" placeholder="Email address">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <select asp-for="Subject" class="form-control">
                        <option value="General">General</option>
                        <option value="Inquiry">Inquiry</option>
                        <option value="Renewal">Renewal</option>
                        <option value="Revocation">Revocation</option>
                    </select>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <textarea asp-for="Message" class="form-control form-txt" id="msgTextarea" rows="6"
                        placeholder="Message"></textarea>
                </div>
                <div class="col-12 uploadSection">
                    <label class="uploadLabel">Attachment</label>
                    <div class="uploadButton">
                        <input asp-for="UploadFile" id="uploadFile" class="d-none" placeholder="Upload"/>
                        <span class="uploadBtnLabel">Upload</span>
                        <span class="custom-txt">No file chosen, yet.</span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check mx-auto">
                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                        <label class="form-check-label" for="gridCheck">
                            Our current data protection regulations apply . I hereby agree that my data entered in the contact form will be stored electronically and processed and used for the purpose of establishing contact. The consent can be revoked at any time in accordance with Art. 7 Para. 3 GDPR by informal notification (e.g. by e-mail).
                        </label>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="form-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ContactUs Division End -->

<!-- Map Start -->
<section class="contact-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.6980502384113!2d72.49824711476968!3d23.034856384946778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8352e403437b%3A0xdc9d4dae36889fb9!2sTatvaSoft!5e0!3m2!1sen!2sin!4v1639405140127!5m2!1sen!2sin"
        class="address-map" allowfullscreen="" loading="lazy"></iframe>
</section>
<!-- Map End -->

@section css{
    <link rel="stylesheet" href="/css/contact.css">
}
@section script{
    <script src="/js/contact.js"></script>
}