
@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

<!-- FAQ img -->
<section class="faq-bg"></section>   
<!-- FAQ img -->

<!-- FAQ Section Start -->
<section class="faq-details">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class=" text-center ">
                    <h2 class="content-title">FAQs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <hr class="faq-hr">
                <img src="/img/faq-separator.png" class="faq-separator mx-2" alt="">
                <hr class="faq-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center text-center">
                <p class="faq-para about-para">Whether you are Customer or Service provider, <br> We have tried our
                    best to
                    solve
                    all your queries
                    and questions.</p>
            </div>
        </div>
        <div class="accordion-faq">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="forcustom" data-bs-toggle="tab"
                        data-bs-target="#for-customer" type="button" role="tab" aria-controls="for-customer"
                        aria-selected="true">For Customer</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="forservice" data-bs-toggle="tab" data-bs-target="#for-service"
                        type="button" role="tab" aria-controls="for-service" aria-selected="false">For Service
                        Provider</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="for-customer" role="tabpanel"
                    aria-labelledby="forcustom">

                    <div class="accordion" id="accordionone">
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-1">
                                What's included in a cleaning?
                            </p>
                            <div id="fc-1" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Bedroom, Living Room & Common Areas, Bathrooms, Kitchen, Extras</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-2">
                                Which Helperland professional will come to my place?
                            </p>
                            <div id="fc-2" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Helperland has a vast network of experienced, top-rated cleaners. Based on
                                        the time and date of your request, we work to assign the best professional
                                        available. Like working with a specific pro? Add them to your Pro Team from
                                        the mobile app and they'll be requested first for all future bookings. You
                                        will receive an email with details about your professional prior to your
                                        appointment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-3">
                                Can I skip or reschedule bookings?
                            </p>
                            <div id="fc-3" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>You can reschedule any booking for free at least 24 hours in advance of the
                                        scheduled start time. If you need to skip a booking within the minimum
                                        commitment, we'll credit the value of the booking to your account. You can
                                        use this credit on future cleanings and other Helperland services.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-4">
                                Do I need to be home for the booking?
                            </p>
                            <div id="fc-4" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>We strongly recommend that you are home for the first clean of your booking
                                        to show your cleaner around. Some customers choose to give a spare key to
                                        their cleaner, but this decision is based on individual preferences.</p>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-5">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-5" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-6">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-6" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-7">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-7" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-8">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-8" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-9">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-9" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fc-10">
                                Lorem ipsum dolor sit amet. Cusomer
                            </p>
                            <div id="fc-10" class="accordion-collapse collapse" data-bs-parent="#accordionone">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quod, quisquam
                                        cupiditate culpa obcaecati expedita consequatur maiores, perferendis
                                        deleniti quidem quos corrupti?</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="tab-pane fade" id="for-service" role="tabpanel" aria-labelledby="forservice">
                    <div class="accordion" id="accordiontwo">
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-1">
                                How much do service providers earn?
                            </p>
                            <div id="fsp-1" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>The self-employed service providers working with Helperland set their own
                                        payouts, this means that they decide how much they earn per hour.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-2">
                                What support do you provide to the service providers?
                            </p>
                            <div id="fsp-2" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Our call-centre is available to assist the service providers with all queries
                                        or issues in regards to their bookings during office hours. Before a service
                                        provider starts receiving jobs, every individual partner receives an
                                        orientation session to familiarise with the online platform and their
                                        profile.</p>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-3">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-3" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-4">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-4" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-5">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-5" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-6">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-6" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-7">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-7" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-8">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-8" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-9">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-9" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_item">
                            <p class="accordion-header accordion_btn collapsed" data-bs-toggle="collapse"
                                data-bs-target="#fsp-10">
                                Lorem ipsum dolor sit amet. Service Provider
                            </p>
                            <div id="fsp-10" class="accordion-collapse collapse" data-bs-parent="#accordiontwo">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores distinctio
                                        magnam inventore temporibus quae, neque error! Qui quos impedit mollitia
                                        aliquid officiis vel?</p>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ Section End -->


@section css{
    <link rel="stylesheet" href="/css/faq.css">
}
@section script{
    <script src="/js/faq.js"></script>
}

