@model Helperland.Models.viewModels.ResetPswVM

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
<section class="resetBlock">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center ">
                    <h2 class="content-title">Reset Password</h2>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <hr class="price-hr">
                <img src="/img/faq-separator.png" class="faq-separator mx-2" alt="">
                <hr class="price-hr">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <form asp-action="ResetPassword" asp-controller="Login" method="post">
              <div class="my-3">
                <label for="exampleInputEmail1" class="form-label">New Password</label>
                <input asp-for="Password" class="form-control" id="exampleInputEmail1" placeholder="New Password" aria-describedby="emailHelp">
                <span asp-validation-for="Password" class="text-danger"></span>
              </div>
              <div class="my-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" id="exampleInputPassword1">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
              </div>
              <button type="submit" id="btnPswUpdate" class="btn mb-3">Save</button>
            </form>
        </div>
    </div>
</section>

@section css{
    <link rel="stylesheet" href="/css/ResetPsw.css">
}
@section script{
    <script src="/js/resetPsw.js"></script>
}