
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_SPDashLayout.cshtml";
}

<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- SP Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link active">Dashboard</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="NewServiceRequest">New Service Requests</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="UpcomingServices">Upcoming Services</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="ServiceHistory">Service History</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="MyRatings">My Ratings</a>
                <a class="nav-link">Block Customer</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <div class="custDashboard">
                        <div class="newServTab">
                            <span class="newServCount">0</span>
                            <span class="tabTitle">New Service Requests</span>
                            <a id="newSerBtn" class="btn viewAllBtn" asp-controller="Serviceprovider" asp-action="NewServiceRequest">View All</a>
                        </div>
                        <div class="upServTab">
                            <span class="upServCount">0</span>
                            <span class="tabTitle">Upcoming Services</span>
                            <a id="upSerBtn" class="btn viewAllBtn" asp-controller="Serviceprovider" asp-action="UpcomingServices">View All</a>
                        </div>
                        <div class="compServTab">
                            <span class="compServCount">0</span>
                            <span class="tabTitle">Completed Services</span>
                            <a id="compSerBtn" class="btn viewAllBtn" asp-controller="Serviceprovider" asp-action="ServiceHistory">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SP Dashboard End -->

@section script{
    <script src="/js/spDash.js"></script>
}