
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_SPDashLayout.cshtml";
}

<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- Loader  -->
<div class="loading-div d-none">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<!-- Loader  -->

<!-- SP Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="Dashboard">Dashboard</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="NewServiceRequest">New Service Requests</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="UpcomingServices">Upcoming Services</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="ServiceHistory">Service History</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="MyRatings">My Ratings</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="BlockCustomer">Block Customer</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <nav class="accNav">
                        <div class="nav" id="nav-tab" role="tablist">
                        <button class="nav-link flex-fill active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">My Details</button>
                        <button class="nav-link flex-fill" id="nav-pass-tab" data-bs-toggle="tab" data-bs-target="#nav-pass" type="button" role="tab" aria-controls="nav-pass" aria-selected="false">Change Password</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabAccount">
                        <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                            <div id="spAccountHeading">
                                <div class="spAccStatus">
                                    <span>Account Status: </span>
                                    <span id="spAccountStatus">Active</span>
                                </div>
                                <div class="spAccProfIcon">
                                    <img src="/img/avatar-car.png" />
                                </div>
                            </div>
                            <div id="spBasicDetails">
                                    <h3>Basic Details</h3>
                            </div>
                            <form id="getDetailsForm">
                                <div id="errorDataPage"></div>
                                <input type="hidden" id="editAddressState" />
                                <div class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="inputFname" class="form-label">First name</label>
                                        <input type="text" class="form-control" id="inputFname"> 
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputLname" class="form-label">Last name</label>
                                        <input type="text" class="form-control" id="inputLname">   
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputEmail" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="inputEmail" disabled>   
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputPhoneNumber" class="form-label">Mobile number</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                            <input class="form-control"  data-val-length-max="10" data-val-length-min="10" data-val-regex-pattern="^([0-9]{10})$"  id="inputPhoneNumber" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3 dobSelect">
                                        <label for="inputDOB" class="form-label">Date of Birth</label>
                                        <input class="form-control" type="hidden" id="inputDOB" />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="inputNationality" class="form-label">Nationality</label>
                                        <select class="form-select" id="inputNationality" aria-label="Default select example">
                                          <option value="">Nationality</option>
                                          <option value="1">India</option>
                                          <option value="2">USA</option>
                                          <option value="3">Japan</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="form-label">Gender</label>
                                        <div class="genderRadio">
                                            <input type="radio" name="genderRadio" value="1" id="genderRadioMale">
                                            <label  for="genderRadioMale">Male</label>
                                            <input type="radio" name="genderRadio" value="2" id="genderRadioFemale">
                                            <label  for="genderRadioFemale">Female</label>
                                            <input type="radio" name="genderRadio" value="0" id="genderRadioNotSay">
                                            <label  for="genderRadioNotSay">Rather not to say</label>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label class="form-label">Avatar</label>
                                        <div class="avatarRadio d-flex">
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="car" id="avatarRadioCar">
                                                <label  for="avatarRadioCar"><img src="/img/avatar-car.png" /></label>
                                            </div>
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="female" id="avatarRadioFemale">
                                                <label  for="avatarRadioFemale"><img src="/img/avatar-female.png" /></label>
                                            </div>
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="hat" id="avatarRadioHat">
                                                <label  for="avatarRadioHat"><img src="/img/avatar-hat.png" /></label>
                                            </div>
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="iron" id="avatarRadioIron">
                                                <label  for="avatarRadioIron"><img src="/img/avatar-iron.png" /></label>
                                            </div>
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="male" id="avatarRadioMale">
                                                <label  for="avatarRadioMale"><img src="/img/avatar-male.png" /></label>
                                            </div>
                                            <div class="avatarRadioOptions">
                                                <input type="radio" name="avatarRadio" value="ship" id="avatarRadioShip">
                                                <label  for="avatarRadioShip"><img src="/img/avatar-ship.png" /></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="spAddSection">
                                            <h3 class="spAddressHead">My Address</h3>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputStreet" class="form-label">Street name</label>
                                        <input type="text" class="form-control" id="inputStreet">   
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputHouseno" class="form-label">House number</label>
                                        <input type="text" class="form-control" id="inputHouseno">   
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputPostCode" class="form-label">Postal Code</label>
                                        <input type="number" class="form-control" id="inputPostCode">   
                                    </div>
                                    <div class="col-md-4 mb-3"> 
                                        <label for="inputCity" class="form-label">City</label>
                                        <input type="text" class="form-control" id="inputCity" disabled>   
                                    </div>
                                    <div class="col-12">
                                        <hr />
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btnChangeSave btn" id="btnDataChangeSave">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-pass" role="tabpanel" aria-labelledby="nav-pass-tab">
                            <form id="passChange">
                            <div class="" id="errorPassChange"></div>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label for="inputOldPass" class="form-label">Old Password</label>
                                    <input type="password" class="form-control" id="inputOldPass" placeholder="Current Password">   
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="inputNewPass" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="inputNewPass" placeholder="Password">   
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="inputCPass" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="inputCPass" placeholder="Confirm Password">   
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btnChangeSave btn" id="btnPassChangeSave">Save</button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SP Dashboard End -->


@section script{
    <script src="/js/CustomDate.min.js"></script>
    <script src="/js/spMyAccount.js"></script>
}