
@{
    ViewData["Title"] = "Service History";
    Layout = "~/Views/Shared/_SPDashLayout.cshtml";
}

<div class="user-name d-flex justify-content-center align-items-center">
    <h2>Welcome, <strong>@ViewBag.Uname</strong> </h2>
</div>

<!-- Loader  -->
<div class="loading-div d-none">
    <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</div>
<!-- Loader  -->

<!-- SP Dashboard Start -->
<section class="customer-dash">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="nav flex-column us-left-menu text-start">
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="Dashboard">Dashboard</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="NewServiceRequest">New Service Requests</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="UpcomingServices">Upcoming Services</a>
                <a class="nav-link">Service Schedule</a>
                <a class="nav-link active">Service History</a>
                <a class="nav-link" asp-controller="Serviceprovider" asp-action="MyRatings">My Ratings</a>
                <a class="nav-link">Block Customer</a>
                <a class="nav-link">Invoices</a>
                <a class="nav-link">Notifications</a>
            </div>
            <div class="us-right-menu flex-fill" id="us-right-sideNav">
                <div>
                    <div class="content-header mb-2">
                        <div class="headAndSortDiv">
                            <h3 class="my-auto">Service History</h3>
                            <div class="dropdown smSortingBtn">
                                <a class="dropdown" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-sort-amount-down fa-lg"></i></a>

                                <ul class="dropdown-menu" id="radioSelectUl" aria-labelledby="dropdownMenuLink">
                                <li><input type="radio" name="sortOption" id="ServiceIDOldest" value="SID:Asc"><label for="ServiceIDOldest">Service Id : Ascending </label></li>
                                <li><input type="radio" name="sortOption" id="ServiceIDLatest" value="SID:Desc"><label for="ServiceIDLatest">Service Id : Descending </label></li>
                                <li><input type="radio" name="sortOption" id="CustomerAsc" value="CUST:Asc"><label for="CustomerAsc">Customer:Ascending</label></li>
                                <li><input type="radio" name="sortOption" id="CustomerDesc" value="CUST:Desc"><label for="CustomerDesc">Customer:Descending</label></li>
                                </ul>
                            </div>
                        </div>
                        <button>Export</button>
                    </div>
                    <div class="customer-table">
                        <table id="spServiceHistoryTB" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Service Id</th>
                                    <th>Service Date</th>
                                    <th>Customer Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SP Dashboard End -->


<!--SH Details Modal-->
<div class="modal fade" id="reqDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Service Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="serReqDetailsSH">
                    <div class="row">
                        <span class="reqDataDate"></span>
                        <span class="reqDataDuration"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataId"></span>
                        <span class="reqDataExtraTitle"><strong>Extras</strong> : <span class="reqDataExtra"></span></span>
                        <span class="reqDataNetAmount"><strong>Net Amount</strong> :</span>
                        <span class="reqDataPayment"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataCName"></span>
                        <span class="reqDataAddress"></span>
                    </div>
                    <div class="row">
                        <span class="reqDataComments"><strong>Comments</strong> : </span>
                        <span class="reqCommentText"></span>
                        <span class="reqDataHasPetTrue d-none"><i class="fa fa-check" aria-hidden="true"></i>I have pets at Home</span>
                        <span class="reqDataHasPetFalse"><i class="fa fa-times" aria-hidden="true"></i>I don't have pets at Home</span>
                    </div>
                </div>
                <div id="reqDataMapDiv">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SH Details Modal-->
@section css{
    <link rel="stylesheet" href="http://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
}

@section script{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="/js/spServiceHistory.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.full.min.js"></script>
}